#set($layout = "layout/null.vm")
<script type="text/javascript">
	//url传值的长度问题需要考虑
	//var selectedIds='${selectedIds}';
	var byIFrame=${byIFrame};
</script>

<div  id="addPane" class="well form-inline hide">
	<a href="javascript:" onclick="$('#addPane').hide('fast');clearAddPane();"  style="float:right;color:#000000;font-size: 20px;font-weight: bold;line-height: 20px;opacity: 0.2;text-shadow: 0 1px 0 #FFFFFF;">×</a>
	<div class="row-fluid">
		<div class="span12">
            <div class="row-fluid">
    				<div class="span2">
        			     <div class="control-group">
                                <div class="controls">
        							<label class="control-label">名称：</label>
        							<input type="hidden" name="id"  />
        							<input type="text" class="span8" name="authExpressionName" value=""  data-rule="required;"  />
                                </div>
            			 </div>
                    </div>
            		<div class="span3">
                         <div class="control-group">
                                <div class="controls">
                        			<label class="control-label">部门：</label>
                        			<a id="organization_name" href="#">不限</a>
									<a id="clear" href="#" onclick='setOrganization("","不限","不限");'>×</a>
                        			<input type="hidden" name="organizationId" value="11" />
                                </div>
            			 </div>
            		</div>
            		<div class="span3">
                         <div class="control-group">
                                <div class="controls">
                            	  <label class="control-label">职位：</label>
                            	  <a id="postion_name" href="#">不限</a>
								  <a id="clear" href="#" onclick='setPositionInfo([{id:\"\",positionName:\"不限\"}]);'>×</a>
                            	  <input type="hidden" name="positionId" value="" />
                                </div>
            			 </div>
            		</div>
            		<div class="span4">
                         <div class="control-group">
                                <div class="controls">
                        			<label class="control-label">职&nbsp;&nbsp;&nbsp;&nbsp;级：</label>
                        			<select name="levelUp" class="span3">
                                			<option value="">不限</option>
                                	</select>-
                            		<select name="levelDown" class="span3">
										<option value="">不限</option>
                                	</select>
                            		<input name="levelAbove" type="checkbox"  />以上
                                </div>
            			 </div>
            		</div>
            	</div>
            	<div class="row-fluid">
            		<div class="span2">
                         <div class="control-group">
                                <div class="controls">
                            	   <label class="control-label">员工：</label>
                            	   <a id="user_name" href="#">任何人</a>
								   <a id="clear" href="#" onclick='setUserInfo([{id:\"\",realName:\"任何人\"}]);'>×</a>
                            	   <input type="hidden" name="userId" value="" />
                                </div>
						 </div>
            		</div>
            		<div class="span3">
                         <div class="control-group">
                                <div class="controls">
                        			<label class="control-label">角色：</label>
                            		<select name="roleId" class="span8">
                                			<option value="">不限</option>
                                	</select>
                                </div>
                         </div>
            		</div>
            		<div class="span3">
                         <div class="control-group">
                                <div class="controls">
                        			 <label class="control-label">用户组：</label>
                        			 <select name="groupId" class="span8">
										<option value="">不限</option>
                        			 </select>
                                </div>
						 </div>
            		</div>
            		<div class="span4">
                         <div class="control-group">
                                <div class="controls">
										<button id="expression_add_btn"  class="btn">确定</button>
								</div>
						 </div>
            		</div>
            	</div>
		</div>
	</div>
	
</div>

    <div class="navbar">
          <div class="navbar-inner">
             <div class="nav-collapse collapse navbar-responsive-collapse">
                       <form class="navbar-form pull-left" id="authSearchForm">
            			   <ul class="nav">
            				   <li><a href="#">名称:</a></li>
            				   <li><input id="authExpressionName" type="text" class="" data-rule="nospecial;" /></li>
    						   <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            				   <li><button id="search" type="button" class="btn">搜索</button></li>
							   <input id="onlySelected" type="hidden" value="0"  />
            			   </ul>
                       </form>
              </div>
       </div>
    </div>
		
    <table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="hello" width="100%">
    </table>
	
	<div id="disp" style="position:absolute;top:150px;right:110px;display:none;padding:3px;border:1px solid #528AC6;background-color:#FEFED3;width:300px;" >

	</div>

<script type="text/javascript" src="#springUrl('/js/system/authExpression_select.js')"></script>