## Desctription:流程维护首页
## User: yujiahe
#set($layout = "layout/default.vm")
<script language="JavaScript" src="#springUrl('')/js/system/processMaintain_index.js"></script>
<div class="navbar">
    <div class="navbar-inner">
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <form class="navbar-form pull-left">
                <ul class="nav">
					<li><a href="#">流程实例ID:</a></li>
                    <li><input id="processInstanceId" type="text" class="input-medium"></li>
                    <li><a href="#">流程实例名称:</a></li>
                    <li><input id="processInstanceName" type="text" class="input-medium"></li>
					<li><a href="#">流程定义名称:</a></li>
                    <li><input id="processDefinitionName" type="text" class="input-medium"></li>
                    <li><a href="#">类型:</a></li>
                    <li><select id="status" class="">
                        <option value="">请选择</option>
                        <option value="1">审批中</option>
                        <option value="2">退回</option>
						<option value="3">驳回</option>
                    </select>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <button id="search" type="button" class="btn">搜索</button>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
            </form>
        </div>
    </div>
</div>
<table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" 
	id="processMaintain_table" width="100%"></table>