#set($layout = "layout/null.vm")
<head>
	<script type="text/javascript" src="#springUrl('')/js/system/resource_add.js"></script>
</head>
<div>
<form id="inputForm">
    <div class="form-horizontal">
	<input type="hidden" id="parentId" name="parentId" value="$!{resource.id}" />
	<input type="hidden" id="displayStatus" name="isDisplay" value="$!{resource.displayStatus}" />
	<div class="control-group">
        <label class="control-label">资源编码：</label>
        <div class="controls">
    	  <input type="text" id="resourceCode" name="resourceCode" data-rule="required;" />
    	  <span id="isRepeatResourceCode"></span>
        </div>
    </div>
	<div class="control-group">
        <label class="control-label">资源名称：</label>
        <div class="controls">
    	  <input type="text" id="resourceName" name="resourceName" data-rule="required;" />
    	  <span id="isRepeatResourceName"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">是否显示：</label>
        <div class="controls">
    	  <select id="displayStatusSelect" name='displayStatus' class="" onchange="selectChange(this)">
			<option value="true">是</option>
			<option value="false">否</option>
		  </select>
		</div>
    </div>
	<div class="control-group">
        <label class="control-label">URL：</label>
        <div class="controls">
    	  <input type="text" id="resourceUrl" name="resourceUrl" />
        </div>
    </div>
	<div class="control-group">
        <label class="control-label">排序序号：</label>
        <div class="controls">
    	  <input type="text" id="sortNo" name="sortNo" data-rule="required;integer" />
        </div>
    </div>

   <div class="control-group">
    <div class="controls">
        <button id="saveResource" type="submit" class="btn btn-success">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="cancelResource" class="btn btn-success">取消</button>
    </div>
</div>

</div>
</form>