#set($layout = "layout/null.vm")
	<script type="text/javascript">
	var displayStatus = "${resource.displayStatus}";
	</script>
	<script type="text/javascript" src="#springUrl('')/js/system/resource_update.js">
	</script>

<form id="inputForm" >
    <div class="form-horizontal">
		<input type="hidden" id="id" name="id" value="$!{resource.id}" />
		<input type="hidden" id="parentId" name="parentId" value="$!{resource.parentId}" />
		<input type="hidden" id="status" name="status" value="$!{resource.status}" />
		<input type="hidden" id="displayStatus" name="isDisplay" value="$!{resource.displayStatus}" />
		<div class="control-group">
            <label class="control-label">资源编码：</label>
            <div class="controls">
        	  <input type="text" id="resourceCode" name="resourceCode" value="$!{resource.resourceCode}" data-rule="required;"/><span id="isRepeatResourceCode"></span><p class="help-block"></p>
              <input type="hidden" id="resourceCodeOld" value="$!{resource.resourceCode}"/>
            </div>
        </div>
		<div class="control-group">
            <label class="control-label">资源名称：</label>
            <div class="controls">
        	  <input type="text" id="resourceName" name="resourceName" value="$!{resource.resourceName}" data-rule="required;"/><span id="isRepeatResourceName"></span><p class="help-block"></p>
              <input type="hidden" id="resourceNameOld" value="$!{resource.resourceName}"/>
            </div>
        </div>
        <div class="control-group">
	        <label class="control-label">是否显示：</label>
	        <div class="controls">
	    	  <select id="displayStatusSelect" name='displayStatus' class="" onchange="selectChange(this)">
				<option value="true">是</option>
				<option value="false">否</option>
			  </select>
			</div>
        </div>
		<div class="control-group">
            <label class="control-label">URL：</label>
            <div class="controls">
        	  <input type="text" id="resourceUrl" name="resourceUrl" value="$!{resource.resourceUrl}" /><p class="help-block"></p>
            </div>
        </div>
		<div class="control-group">
            <label class="control-label">排序序号：</label>
            <div class="controls">
        	  <input type="text" id="sortNo" name="sortNo" value="$!{resource.sortNo}" data-rule="required;integer" /><p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button id="updateResource" type="submit" class="btn btn-success">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;
                <button id="cancelResource" class="btn btn-success">取消</button>
            </div>
        </div>

    </div>
</form>

