#set($layout = "layout/default.vm")

##隐藏域，存储角色ID
<input type="hidden" id="roleId" name="roleId"  value="$!{role.Id}"  />
<p ><strong>名称：  $!{role.roleName}</strong></p>
##分页 显示角色下用户列表
<table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="userdetail" width="100%"></table>
<script type="text/javascript" src="#springUrl('')/js/system/role_view.js"></script>


