<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- CSS -->
<link href="#springUrl('')/static/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
<link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeIcons.css')" rel="stylesheet" type="text/css"/>
<link href="#springUrl('')/static/zTree/css/zTreeStyle/zTreeStyleCustomer.css" rel="stylesheet" type="text/css"/>
<!-- JavaScript -->
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.all-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.core-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.excheck-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exedit-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('')/js/system/userRole_index.js"></script>
<style>
    .select {
        width: 120px;
    }
</style>

<div class="container-fluid">
    <input type="hidden" id="orgid" name="orgid"/>

    <div class="row-fluid">
        <div class="span3">
            <ul id="orgTree" class="ztree"></ul>
        </div>
        <div class="span1"></div>
        <div class="span8" id="box-right" style="margin-left: 25px;">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="nav-collapse collapse navbar-responsive-collapse">
                        <form class="navbar-form pull-left">
                            <ul class="nav">
                                <li><a href="#">角色:</a></li>
                                <li><select id="selectroleType" class="select"></select>
                                </li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li><a href="#">用户组:</a></li>
                                <li><select id="selectgroups" class="select"></select>
                                </li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li><a href="#" onclick='hello();'>用户:</a></li>
                                <li><input id="realName" type="text" class="select"></li>
                                <li>&nbsp;</li>
                                <li>
                                    <button id="search" type="button" class="btn">搜索</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        ##<button id="updateRoles" type="button" onclick="javascript:updateRoles()" class="btn  btn-primary  ">批量授权</button>
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display"
               id="userRoleTable" width="100%">
			</table>
        </div>
    </div>
</div>
