body{font-size:12px; margin:0px;}
img{border:0px;}
a:link,a:visited{ text-decoration:none;}
a:hover{ text-decoration:none;}
ul{ list-style:none;}
table{font-size:12px; border-collapse:collapse;}
/***************1******************/
.big_img{width:366px; height:520px;  margin-top:80px;}
.big_img img{width:320px; height:520px; margin:0px auto;}
.zi{margin-top:20px; width:780px;}

.biao1{font-size:16px; color:#FF0000; font-weight:bold; height:30px; line-height:30px; margin:0px 20px;}
.biao3{font-size:16px; color:#FF0000; font-weight:bold; height:30px; line-height:30px; margin:20px 20px 10px 20px;}
.xinghao{height:25px; line-height:25px; margin:0px 20px;}
.biao2{font-size:16px; color:#FF0000; font-weight:bold; height:30px; line-height:30px; text-align:center;}
.big_img2{ text-align:center;}
.big_img2 img{margin:10px auto;}
/***************2*****************/
.div{margin:10px; border:1px solid #e7e7e7;}
.biaoti{ height:30px; line-height:30px; margin:10px 15px 0px; border-bottom:2px solid #e7e7e7;}
.more{font-size:12px; text-align:right; line-height:30px;}
.biaotiti{font-size:16px; color:#00CC00; font-weight:bold; line-height:30px;}
.div_nei{margin:0px;}
.kid{ height:200px; width:140px; border:1px solid #e7e7e7; float:left; margin:10px 17px; overflow:hidden;}
.kid_biao{ height:30px; line-height:30px; font-weight:bold; margin:0px 5px; border-bottom:1px solid #e7e7e7; text-align:center;}
.kid_img{ height:170px; text-align:center; }
.kid_img img{width:92px; height:150px; margin:10px auto;}
.ziduan1{height:30px; background:#f60; color:#FFFFFF; line-height:30px; text-align:center; font-size:16px; margin:5px auto; font-weight:bold;}
.clear{ clear:both;}
/****************3***************/
.divv{width:1000px; margin:0px auto;}
.code{ height:auto; padding:20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code pre{ font-family:"Courier New";font-size:14px;}
.info{ font-size:12px; color:#666666; font-family:Verdana; margin:20px 0 50px 0;}
.info p{ margin:0; padding:0; line-height:22px; text-indent:40px;}
h2.title{ margin:0; padding:0; margin-top:50px; font-size:18px; font-family:"微软雅黑",Verdana;}
h3.title{ font-size:16px; font-family:"微软雅黑",Verdana;}
.importInfo{ font-family:Verdana; font-size:14px;}
/*****************************圆角边框*************************************************************/
.b1,.b2,.b3,.b4,.b1b,.b2b,.b3b,.b4b,.b{display:block;overflow:hidden;}
.b1,.b2,.b3,.b1b,.b2b,.b3b{height:1px;}
.b2,.b3,.b4,.b2b,.b3b,.b4b,.b{border-left:1px solid #999;border-right:1px solid #999;}
.b1,.b2,.b3,.b4{ background:#f5f6f5;}
.b1b,.b2b,.b3b,.b4b{ background:#f5f6f5;}
.b1,.b1b{margin:0 5px;background:#999;}
.b2,.b2b{margin:0 3px;border-width:2px;}
.b3,.b3b{margin:0 2px;}
.b4,.b4b{height:2px;margin:0 1px;}
.d1{}
.k{height:auto; background:#f5f6f5;}
/***********************************phoneinfo_iphone中tab标签***************************************************/
body,div,ul,li{
padding:0;

}
body{
font:12px "宋体";

}
a:link{
color:#00F;
text-decoration:none;
}
a:visited {
color: #00F;
text-decoration:none;
}
a:hover {
color: #c00;
text-decoration:underline;
}
ul{ list-style:none;}
/*选项卡1*/
#Tab1{
width:720px;
margin:0px;
padding:0px;
margin:0 auto;}

/*菜单class*/
.Menubox {

border:1px solid #c8c8c8;
height:28px;
line-height:28px;
}
.Menubox ul{
margin:0px;
padding:0px;
}
.Menubox li{
border-right:1px solid #c8c8c8;
float:left;
display:block;
cursor:pointer;
width:118px;
text-align:center;
color:#949694;
font-weight:bold;
}
.Menubox li.hover{
padding:0px;
width:119px;
border-right:1px solid #c8c8c8;
background:#aaaaaa;
color:#fff;
font-weight:bold;
height:27px;
line-height:27px;
}
/*****************/
.Menubox3S {

border:1px solid #c8c8c8;
height:28px;
line-height:28px;
}
.Menubox3S ul{
margin:0px;
padding:0px;
}
.Menubox3S li{
border-right:1px solid #c8c8c8;
float:left;
display:block;
cursor:pointer;
width:359px;
text-align:center;
color:#949694;
font-weight:bold;
}
.Menubox3S li.hover{
padding:0px;

border-right:1px solid #c8c8c8;
background:#aaaaaa;
color:#fff;
font-weight:bold;
height:27px;
line-height:27px;
}
/******************/
.Contentbox{
clear:both;
margin-top:0px;
border:1px solid #c8c8c8;
border-top:none;
height:181px;
text-align:center;
padding-top:8px;
}
/*******************************/
.ss_1{width:215px; height:29px; text-align:center; background:url(../img/ss_01.png) no-repeat;}
.ss_2{width:26px; height:29px; text-align:left; margin-top:3px;}
.ss_text{width:200px; border:none; background:none; margin-top:4px;}
.gx_1{width:23px; height:24px; text-align:center; background:url(../img/gx_1_01.png) no-repeat;}
.gx_2{width:67px; height:24px; line-height:24px;  background:url(../img/gx_1_02.png) no-repeat; }
.gx_check{  margin-top:1px;}
