@charset "utf-8";
/* CSS Document */

body{margin:0px; padding:0px; font-size:12px;}
table{font-size:12px; border-collapse:collapse;}
img{border:0px;}
.clear{clear:both;}

#containner{width:960px; margin:0 auto;}
.con1{}
.title{height:35px; line-height:35px; background:#e0e0e0; font-size:14px; font-weight:bold; padding-left:10px; padding-right:10px;}
.content{}
.folder{width:100px; float:left; margin:10px 30px; }
.folder-img{width:98px; height:98px; border:1px solid #ddd; margin-bottom:5px; text-align:center;}
.folder-img img{height:84px; margin:7px auto;}
.folder-name{height:40px; line-height:20px; text-align:center; overflow:hidden; position:relative;}

.file{width:100px; float:left; margin:10px 35px; }
.file-img{width:98px; height:98px; border:1px solid #ddd; margin-bottom:5px; text-align:center;}
.file-img img{height:84px; margin:7px auto;}
.file-name{height:40px; line-height:20px; text-align:center; overflow:hidden;}

.content-con{margin-top:0px; border-top:1px solid #aaa;}
.jiao{width:30px; height:25px; position:absolute; left:37px; bottom:0px; z-index:9; text-align:center;}
.jiao img{height:25px;}

.bar{height:30px; line-height:30px; background:url(../img/dang/dangjian-bar-bg.png) repeat-x; padding-left:15px;}



.content-con2{margin-top:15px; margin-right:60px;}
.left{margin-top:5px; margin-left:15px;}


