/*
*/
#top_navbar_main {
	background: url("../img/main_bg_bottom.jpg") no-repeat bottom; background-size: 100% auto;
}
body {
	background: url("../img/bg03.jpg") no-repeat top !important; 
	background-size: 100% auto !important; 
	background-attachment:fixed !important;
}

div.primary-color {
	background-color:#a5673f !important;
}

i.primary-color {
	color:#a5673f !important;
}

.height-1{
	box-shadow: 0px 2px 10px #888888 !important;
}
.height-2{
	box-shadow: 0px 6px 16px #888888 !important;
}

a:link,a:visited,a:hover,a:active{color:inherit}

/* semantic的分隔条字体用雅黑 */
.ui.divider {
  font-family:"Microsoft Yahei" !important;
}

.heiti {
	font-family: "SimHei" !important;
}

.hidden {
	display: none;
}

