@CHARSET "UTF-8";

#header{border:0px solid #cccccc;}

#left{
	border:1px solid #999933;
	background: #dfe7ea;	
}

#container{}

#bottom{text-align:center}
.logo {
	font-size: 22px;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
}
/* header css defined*/
.m-title{
	background: #1e2d50;	
	height: 60px;
}
.m-title A:link {
	color: #ffffff;
	text-decoration: none
}
.m-title A:visited {
	 color: #ffffff;
	 text-decoration: none
}
.m-title A:hover {
	 color: #ffffff;
	 text-decoration: underline;
}
.m-title A:active {
 	color: #ffffff;  
 	text-decoration: underline;
}
/* left menu*/
.m-list{
	padding : 20px;
	height : 400px;
}
