#set($layout = "layout/default.vm")
<script>
	var table;
    $(document).ready(function () {
		$('#search').click(function() { //查询触发事件
        	var sql = $("#sqlinfo").val();
			var type = $('input:radio[name="fileType"]:checked').val();
			var datesource = $('select[name="chooseDateSource"]').val();
			var aoData = [];
            aoData.push({ "name": "sql", "value": sql },{ "name": "type", "value": type },{"name": "datesource", "value": datesource});
			
            jQuery.ajax({
                type: "POST",
                url: "querySql_list",
                dataType: "json",
                data: aoData,
                success: function (resp) {
                	if(resp.isjson){
                		createShowingTable(JSON.parse(resp.json));
                	}else{
                		showDate(resp.data);
                	}
                	
                    //$("#result").val(JSON.stringify(resp));
                }
            });
    	});
    });
    
    function showDate(data){
    	$("#dataTable").html(data);
    }
    
    function createShowingTable(data){
    	var arrayObject = new Array();
    	var tableStr = "<table cellpadding='0'  cellspacing='0' border='0' class='table table-striped table-bordered display'>";
    	tableStr = tableStr + "<thead>";
    	var flag = 0;
    	//组织表头
    	for(var pari=0; pari<data.length; pari++){
    		for(var parkey in data[pari]){
    			if(arrayObject.length>0){
    				flag = 0;
    				for(var arri=0; arri<arrayObject.length; arri++){
    					if(arrayObject[arri] == parkey){
    						flag = 1;
    					}
    				}
    				if(flag == 0){
    					tableStr = tableStr + "<td>"+parkey+"</td>";
    					arrayObject.push(parkey);
    				}
    			}else{
    				tableStr = tableStr + "<td>"+parkey+"</td>";
    				arrayObject.push(parkey);
    			}
    		}
    	}
    	tableStr = tableStr + "</thead>";
    	
    	//组织表内容
    	for(var i=0; i<data.length; i++){
    		var obj = data[i];
    		tableStr = tableStr + "<tr>";
    		for(var j=0; j<arrayObject.length; j++){
    			var value = "";
    			if(null != obj[arrayObject[j]]){
    				value = obj[arrayObject[j]];
    			}
    			tableStr = tableStr + "<td>" + value + "</td>";
    		}
    		tableStr = tableStr +"</tr>";
    	}

		tableStr = tableStr + "</table>";
    	$("#dataTable").html(tableStr);
  	}   
    
</script>

<div style="padding: 50px">
	<textarea id="sqlinfo" name="sqlinfo" rows="5" style="width: 950px;"></textarea><br/>
	<input id="select" type="radio" name="fileType" value="0" checked/>查询&nbsp;&nbsp;&nbsp;&nbsp;
	<input id="update" type="radio" name="fileType" value="1" />&nbsp;更新
	<select id="chooseDateSource" name="chooseDateSource">
		<option value="1">默认数据源</option>
		<option value="2">PS数据源</option>
	</select>
	<button id="search" type="button" class="btn">执行</button><br/>
	<div id="dataTable"></div>
	<!--
	<textarea id="result" name="result" rows="20" style="width: 950px;"></textarea>
	-->
</div>