##################################
## 资源-资源管理主页面
##author：xulin
##################################
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!-- CSS -->
    <link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyle.css')" rel="stylesheet" type="text/css" />
    <link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeIcons.css')" rel="stylesheet" type="text/css" />
    <link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyleCustomer.css')" rel="stylesheet" type="text/css" />
    <!-- JavaScript -->
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.all-3.5.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.core-3.5.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.excheck-3.5.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exedit-3.5.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
	
	<script type="text/javascript" src="#springUrl('')/js/system/sysOrganization_index.js"></script>
</head>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <ul id="orgTree" class="ztree"></ul>
        </div>
		<div class="span1"> </div>
        <div class="span8" id="box-right">
        </div>
    </div>
</div>