<head>
		
	<link href="#springUrl('/static/bootstrap/css/bootstrap.css')" rel="stylesheet" type="text/css"/>
    <link href="#springUrl('/static/datatables/css/TableTools.css')" rel="stylesheet" type="text/css"/>
    <link href="#springUrl('/static/datatables/css/jquery.dataTables.bootstrap.css')" rel="stylesheet" type="text/css"/>
    <!-- nice validator -->
	<link href="#springUrl('/static/validator/jquery.validator.css')" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="#springUrl('/static/common/js/jquery.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/bootstrap/js/bootstrap.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/bootstrap/js/bootbox.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/datatables/js/jquery.dataTables.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/datatables/js/TableTools.min.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/datatables/js/jquery.dataTables.bootstrap.js')"></script>
	<script>
		var baseUrl = "#springUrl('')";
		var resourceId = "${resourceId}";
		var resourceCode = "${resourceCode}";
		var resourceName = "${resourceName}";
	</script>
	
	<!-- nice validator -->
	<script type="text/javascript" src="#springUrl('/static/validator/jquery.validator.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/validator/zh_CN.js')"></script>
	<script type="text/javascript" src="#springUrl('/static/common/js/nValidator.js')"></script>
	
	<script type="text/javascript" src="#springUrl('')/js/system/sysPrivilege_add.js"></script>
</head>
 <div id="updatePrivilege" style="padding: 10px">
 	<div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">操作名称 :</label>
        <div class="controls">
           ${selectOperation}
          <p class="help-block"></p>
        </div>       
      </div> 
    </div>
	<div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">操作编码 :</label>
         <div class="controls">
          <input type="text" id="operationCode" disabled name="operationCode" size="100px" data-rule="required;" value="${operationCode}"/>
          <p class="help-block"></p>
        </div> 
      </div>
    </div>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">权限编码 :</label>
         <div class="controls">
          <input type="text" id="code" name="code" size="100px" data-rule="required;" value="${code}"/>
          <p class="help-block"></p>
        </div> 
      </div>
    </div>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">权限名称:</label>
         <div class="controls">
          <input type="text" id="name" name="name" size="100px" data-rule="required;" value="${name}"/>
          <p class="help-block"></p>
        </div> 
      </div>
    </div>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">url :</label>
        <div class="controls">
          <textarea id="url" name="url" cols="200" rows="5">${url}</textarea>
          <p class="help-block"></p>
        </div>       
      </div> 
    </div>
    <input type="hidden" id="operationId" name="operationId" value="${operationId}" />
    <input type="hidden" id="id" name="id" value="${id}" />
</div> 
