#set($layout = "layout/default.vm")
<script type="text/javascript">
    var baseUrl = "#springUrl('')";
</script>
<script type="text/javascript" src="#springUrl('')/js/system/sysRole_index.js"></script>


<div class="navbar">
    <div class="navbar-inner">
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <form class="navbar-form pull-left">
                <ul class="nav">
                    <li><a href="#" onclick='hello();'>名称:</a></li>
                    <li><input id="roleName" type="text" class="input-medium"></li>
                    <li><a href="#">类型:</a></li>
                    <li><select id="roleType" class="">
                        <option value="">请选择</option>
                        <option value="0">系统用户</option>
                        <option value="1">用户组</option>
                    </select>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <button id="search" type="button" class="btn">搜索</button>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
            </form>
        </div>
    </div>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display" id="hello"
       width="100%"></table>