#set($layout = "layout/null.vm")
<link rel="stylesheet" href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyle.css')" type="text/css">
<style>
	ul.ztree {
	    width: 500px;
	    overflow: hidden;
	}
</style>
<div >
    <div>
        <div class="zTreeDemoBackground left span3">
            <ul id="privilegeTree" class="ztree"></ul>
        </div>
    </div>
</div>
	
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.all-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.core-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.excheck-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exedit-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
<script>
	var baseUrl = "#springUrl('')";
	var treeNode = ${treeNode};
	var sysRoleId = "${sysRoleId}";
</script>
<script type="text/javascript" src="#springUrl('')/js/system/sysRolePrivilege.js"></script>