#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('')/js/system/sysRole_add.js"></script>
<style>
    .mustInput{
        color: red;
        vertical-align: middle;
    }
</style>
<div id="addRole" style="padding: 10px">
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label"><span class="mustInput">*</span>类型</label>
        <div class="controls">
             <select id="newRoleType" name="roleType" class="" data-rule="required;nospecial;length[~32]">
    	         <option value="">请选择</option>
                 <option value="0">系统用户</option>
                 <option value="1">用户组</option>
             </select>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div id="roleNameDiv" class="control-group ">
        <label class="control-label"><span class="mustInput">*</span>名称</label>
        <div class="controls">
          <input type="text" id="newRoleName" name="roleName" data-rule="required;" />
        </div>
      </div> 
    </div>
</div>
  


