#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('/js/supplier/annualRequirement_save.js')"></script>
<link href="#springUrl('/static/datetimepicker/bootstrap-datetimepicker.min.css')" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="#springUrl('/static/datetimepicker/bootstrap-datetimepicker.min.js')"></script>
<script type="text/javascript" src="#springUrl('/static/datetimepicker/bootstrap-datetimepicker.zh-CN.js')"></script>

<div class="inner" id="addPane">
  <div id="main">
        <div class="results-box yellow-box yh-box">
            <div class="mt">
				<h3>新增年度招标计划<b></b></h3>
            </div>
            <div class="mc">
            <form id="insertRequirementForm" name = "insertRequirementForm" class="form form-aligned">
                <fieldset>
                    <div class="settlement-1-3">
                        <label for="user-name">申请人：</label>
                        <input maxlength="100" id="reqUsername" type="text" class="input-text" name="reqUsername" value="$!{reqUsername}" readonly="true" >
                    </div>	
                    <div class="settlement-1-3">
                        <label for="user-name">申请人ERP：</label>
                        <input maxlength="100" id="reqUserid" type="text" class="input-text" name="reqUserid" value="$!{reqUserid}" readonly="true">
                    </div>
                     <div class="settlement-1-3">
                        <label for="user-name">一级部门：</label>
                        <input maxlength="100" id="firstDepName" type="text" class="input-text" name="firstDepName" value="$!{firstDepName}"  readonly="true" >
                        <input type="hidden" id="firstDepId" name="firstDepId" value="$!{firstDepId}">
                    </div>	
                    <div class="settlement-1-3">
                        <label for="user-name">二级部门：</label>
                        <input maxlength="100" id="demandDepName" type="text" class="input-text" name="demandDepName" value="$!{demandDepName}" readonly="true">
                        <input type="hidden" id="demandDepId" name="demandDepId" value="$!{demandDepId}">
                    </div>	
                    <div class="settlement-1-3">
                        <label for="user-name">项目计划负责人：</label>
                        <input maxlength="100"  onfocus="selectSysUser();" id="projectManager" type="text" class="input-text" name="projectManager" data-rule="required;" readonly="true">
                        <input type="hidden" id="projectManagerId" name="projectManagerId" value="" >
                    </div>		
                     <div class="settlement-1-3">
                        <label for="user-name"><span style="color:red;">*</span>招标项目名称：</label>
                        <input maxlength="100" id="tenderName" type="text" class="input-text" name="tenderName" data-rule="required;">
                    </div>	
                    <div class="settlement-1-3">
                        <label for="user-name"><span style="color:red;">*</span>项目明细项名称：</label>
                        <input maxlength="100" id="tenderDetailName" type="text" class="input-text" name="tenderDetailName"  data-rule="required;">
                    </div>	
                   
                    
                    <div class="settlement-1-3">
                        			<label class="control-label">原合同日期：</label>
                        			<input type="text" class="input-text" name="originalContractDate" id="originalContractDate"  />
                     </div>
                     
                     <div class="settlement-1-3">
                        			<label class="control-label"><span style="color:red;">*</span>招标完成时间：</label>
                        			<input type="text" class="input-text" name="tenderFinishDate" id="tenderFinishDate"  data-rule="required;" data-rule="required;" />
                     </div>
                     
                      <div class="settlement-1-3">
                        <label for="user-num"><span style="color:red;">*</span>招标预算：</label>
                        <input  id="tenderBudget" type="text" class="input-text" data-rule="required;digits;length[~20]" name="tenderBudget">RMB
                    </div>
                    <div  style="float:left;margin-top:10px;width:100%;height:80px;">
                        <label for="user-num">备注：</label>
                        <textarea   id="mark" class="input-text" style="width:80%;height:50px;" name="mark"></textarea>
                    </div>
                </fieldset>
				
               
				
				
				<div class="mt10" style="text-align:center;">
				
    				<button  id="requirement_save_btn"   class="btn btn-green mr10" type="button">保存</button>
    				<button  id="requirement_submit_btn"   class="btn btn-green mr10" type="button">提交</button>
					<button  id="requirement_cancel_btn" class="btn btn-gray mr10" type="button"  onclick="$('#addPane').hide('fast');clearAddPane();">取消</button>
    			</div>
                </form>   
            </div>
        </div>
    </div>

</div>







