#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('/js/supplier/annualReq_import.js')"></script>

<form class="form form-aligned" name="importform" action="/supplier/importAnnualReqList.action" method="post" enctype="multipart/form-data">     
            <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>
				<div>
                    <label for="user-group">上传年度招标需求：</label>
                    <input type="file" name="file" id="file" type="text" />				
                </div>
            						
            </tbody>	
            </table>				
                <div>
                   <ul>
                                                
                                                  <li>
                                                    1.第一行为表头，顺序必须与模板一致，数据从第二行开始
                                                </li>
                                                <li>
                                                    2.上传文件要求excel格式，每列格式为文本
                                                </li>
												<li>
                                                    3.文件不能超过1000行
                                                </li>
                                            </ul>
                </div>		
             <div class="mt10" style="text-align:center;">
				<button id="import" class="btn btn-green mr10" type="button" onclick="ajaxFileUpload()">导入</button>
							<button class="btn btn-gray mr10" type="button" onclick="Dialog.hide()">取消</button>
			</div>			
</form>
