#set($layout = "layout/default.vm")       
            <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>
				<tr>
                    <td class="font-gray">&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-gray">确认领导：</td><td>$!{expert.leader}</td>
                    <td class="font-gray">ERP账号：</td><td>$!{expert.user.userName}</td>
					<td class="font-gray">姓名：</td><td>$!{expert.user.realName}</td>					
                </tr>
                <tr>
                	<td class="font-gray">所属区域：</td><td>$!{expert.region.dictDataName}</td>
                	<td class="font-gray">一级机构：</td><td>$!{expert.user.organization.organizationName}</td>
                	<td class="font-gray">二级机构：</td>
                </tr>
                <tr>
                	<td class="font-gray">职位名称：</td><td>$!{expert.user.position.positionName}</td>
                	<td class="font-gray">序列：</td><td></td>
                	<td class="font-gray">职位层级：</td><td></td>
                </tr>
                <tr>
                	<td class="font-gray">专家级别：</td><td>$!{expert.group.dictDataName}</td>
                	<td class="font-gray">冻结状态：</td>
                	<td>
                	#if(${expert.status} == 0)
						正常
					#elseif(${expert.status} == 1)
						冻结
					#else
						无
					#end
                	</td>
                	<td class="font-gray">企业邮箱：</td><td>$!{expert.user.email}</td>
                </tr>
                <tr>
                	<td class="font-gray">手机：</td><td>$!{expert.user.mobile}</td>
                </tr>							
            </tbody>	
            </table>				
                <div>
                    <table class="grid">
                        <colgroup>
                            <col width="200">
                            <col width="300">
                            <col width="200">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>一级分类</th>
                                <th>二级分类</th>
                                <th>三级分类</th>
                            </tr>
                        </thead>
                        <tbody>
							#foreach($et in $expertTags)
							  <tr>
							    <td>$!et.tag1.dictDataName</td>
							    <td>
							    	#if("$!et.tag2" == "")
							    		不限
							    	#else
										$et.tag2.dictDataName
									#end
								</td>
							    <td>
							    	#if("$!et.tag3" == "")
							    		不限
							    	#else
										$et.tag3.dictDataName
									#end
								</td>
							  </tr>
							  #end
                        </tbody>
                    </table>
                </div>		
