#set($layout = "layout/default.vm")

 <div id="main">
	 <div id="addPane" class="results-box yellow-box yh-box">
        
        <div class="mc">
        
     <form   name="requirementAduitHistoryForm" id="requirementAduitHistoryForm" method="post">   
         <table class="grid grid-b0 mb20">
            <colgroup>
                <col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
				<col width="180">
                <col width="300" >
            </colgroup>
           
            <tbody>
                <tr>
                    <td class="font-gray">审核人：</td>
                    <td class="font-gray">审核时间：</td>
					<td class="font-gray">审核状态：</td>
					<td class="font-gray">审核内容</td>				
                </tr>
             #foreach($!{requirementAduit} in $!{requirementAduitList})
    			<tr>
        			<td>$!{requirementAduit.creator}</td>
               		<td>$dateTool.format('yyyy-MM-dd HH:mm:ss',$!{requirementAduit.createTime})</td>
               		 #set($statusName="")
               		 #if($!{requirementAduit.examineStatus}=="2")
               		 #set($statusName="需求确认")
               		 #elseif($!{requirementAduit.examineStatus}=="3")
               		 #set($statusName="需求驳回")
               		 #end 
               		<td>$statusName</td>
               		
               		<td>$!{requirementAduit.mark}</td>	
           		</tr>	
            #end
          
                
            </tbody>	
      </table>
      
   </form>
					
        </div>
	</div>
</div>
                
		
  


