#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('/js/supplier/selectedNotice_index.js')"></script>
    
     <form class="form form-aligned"  id="selectedNoticeSearchForm">
     <input type="hidden" value="2" name="type" id="type"/>
	     <h3><b class="font-green">查询入围公告</b></h3>
	     <div class="m mb20">
	            <div class="mc">
	                <div class="con">
	                    <fieldset>
	                    	<div class="settlement-1-2">
	                            <label for="invoice-number">标题:</label>
								<input id="searchTitleName" name="searchTitleName" value="" type="text" class="" data-rule="nospecial;" />
	                        </div>
										
	                        <div class="btn-box">
	                       		 <button id="selectedNotice_search" type="button" class="btn btn-green mr10">搜索</button>
	                       		  <button  onclick="saveSelectedNoticePage()" type="button" class="btn btn-green mr10">新增</button>
	                       		 
							</div>
						</fieldset>
	                </div>
	            </div>
	        </div>
	        
	        
	        
	      <div class="results-box ">
            <div class="mt">
                <h3><b class="font-green">入围公告查询结果</b></h3>
            </div>
            <div class="mc bg-gray">
                <div>
                   <table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="hello" width="100%">
   				   </table>
                  
                </div>
            </div>
        </div>
        
        </form>
     
	
		
   
		

<div id="disp" style="position:absolute;top:150px;right:110px;display:none;padding:3px;border:1px solid #528AC6;background-color:#FEFED3;width:300px;" >

</div>

