#set($layout = "layout/default.vm")
<script type="text/javascript" src="#springUrl('/js/supplier/supplier_recommend_add.js')"></script>
<div class="inner">
  <div id="main">

        <div class="results-box yellow-box yh-box">
            <div class="mt">
				<h3>新增内荐供应商<b></b></h3>
            </div>
            <div class="mc">
            <form id="form1" class="form form-aligned" style="height:1000px;" method="post" action="/supplier/supplier_add">
				<input type="hidden" name="recommendStatus" value="0" />
				<input type="hidden" name="dataStatus" value="1" />
                <fieldset>
                    <div class="settlement-1-3">
                        <label for="user-group"><span style="color:red;">*</span>供应商全称：</label>
                        <input maxlength="30"  type="text" class="input-text" required data-rule="required;length[~30];" name="name" value="$!{supplier.name}">
                    </div>
            		 <div class="settlement-1-3">
                        <label for="user-group"><span style="color:red;">*</span>企业联系电话：</label>
                        <input maxlength="15"  type="text" class="input-text" required data-rule="required;length[~15];" name="mobile" value="$!{supplier.mobile}">
                    </div>
                     <div class="settlement-1-3">
                        <label for="user-group">企业邮箱：</label>
                        <input maxlength="45"  type="text" class="input-text" name="email" value="$!{supplier.email}">
                    </div>   
                     <div class="settlement-1-3">
                        <label for="user-group"><span style="color:red;">*</span>供应商经营内容：</label>
                        <input maxlength="45"  type="text" class="input-text" required data-rule="required;length[~200];" name="recommendContent" value="$!{supplier.recommendContent}">
                    </div>                    					
                </fieldset>				
				<div class="mt10" style="text-align:center;">
    				<button id="saveForm_btn" class="btn btn-green mr10" type="button" onclick="save();">保存</button>
					<button id="back_btn"	class="btn btn-gray mr10" type="button" onclick="back();">取消</button>
    			</div>
                </form>   
            </div>
        </div>
    </div>

</div>