#set($layout = "layout/default.vm")

<script type="text/javascript" src="#springUrl('/js/supplier/taskParaRela_index.js')"></script>

<div class="navbar">
          <div class="navbar-inner">
             <div class="nav-collapse collapse navbar-responsive-collapse">
                       <form class="navbar-form pull-left" id="taskParaRelaSearchForm">
            			   <ul class="nav">
            				   <li><a href="#">供应商名称:</a></li>
            				   <li><input id="searchName" name="name" value="" type="text" class="" data-rule="nospecial;" /></li>
    						   <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            				   <li><button id="requirement_search" type="button" class="btn">搜索</button></li>
            			   </ul>
                       </form>
              </div>
       </div>
    </div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped display" id="taskParaRelaTable"
       width="100%">
    
</table>

        <input type="hidden" id="taskId" name="taskId" value="${taskId}"/>

