@charset "utf-8";

/* icon and btn */
.i_right,
.i_error {display:block;position:absolute;left:247px;top:9px;width:16px;height:19px;background:#fff url(../img/login.png) no-repeat 0 -66px;}
.i_right {background-position:-55px -66px;display:none;}
.i_error {background-position: -36px -66px;display:none;}
.i_succeed {display:inline-block;width:41px;height:31px;background:#fff url(../img/login.png) no-repeat -55px -166px;_display:inline;zoom:1;}
.btn_submit,.btn_submit:hover,
.btn_vali,.btn_vali:hover {display:inline-block;width:113px;height:36px;background:url(../img/login.png) no-repeat 0 -88px;text-align:center;line-height:36px;text-decoration:none;color:#333;_display:inline;_zoom:1;}
.btn_getting,.btn_getting:hover {background-position: 0 -127px;color:#ccc;cursor:default;}
.btn_submit,.btn_submit:hover {width:52px;height:25px;line-height:25px;background-position:0 -166px;}

.mod_page {padding:20px 30px;background:#fff;}
.mod_page_hd {font:bold 14px/1.5em "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Arial;}
.mod_page_bd {width:480px;padding:20px 10px;margin:0 auto;}
.step .bg {width:480px;height:23px;background:url(../img/step.jpg) no-repeat 0 0;}
.step2 .bg {background-position: 0 -23px;}
.step_list li {float:left;width:160px;padding-top:4px;text-align:center;color:#aaa;}
.step1 .step_list .step_list_li1,
.step2 .step_list .step_list_li2 {color:#7abd54;}
.step2 .step_list .step_list_li1 {color:#bce8a3;}


.mod_form {padding-top:30px;}
.form_item {height:66px;}
.form_item .item_lb {float:left;display:inline-block;width:90px;line-height:36px;text-align:right;font-size:14px;color:#999;_display:inline;_zoom:1;}
.form_item .input_wrap {position:relative;display:inline-block;}
.form_item .input_wrap input {color:#333;}
.form_item .i_icon {position:absolute;top:10px;right:10px;left:auto;}
.form_item .p_tip {padding-left:95px;color:#7abd54;display:none;}
.form_item .p_error {padding-left:95px;color:#e4393c;display:none;}
.focus .input_wrap input {border:1px solid #7abd54;}
.right .input_wrap input {color:#e4393c;}
.right .p_tip {display:block;}
.right .i_right {display:block;}
.error .input_wrap input {border:1px solid #e4393c;}
.error .p_error,
.error .i_error {display:block;}
.form_item .input_wrap .placeholder {color:#ccc;}
.form_action {padding-left:94px;}
.form_item .btn_vali {margin-left:5px;vertical-align:top;}

.fp_succeed {padding-left:130px;}
.fp_succeed .i_succeed {float:left;margin:8px 20px 10px 0;}
.fp_succeed .succeed {padding-bottom:10px;font:700 18px/1.5em "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",Arial;color:#7abd54;}
.fp_succeed .back {padding-right:8px;}

.item_lb .cg_strong {padding-right:7px;vertical-align:-3px;}




