@charset "utf-8";
@import url("mod_reset.css");
@import url("mod_layout.css");

body {background:#f5f5f5;font:12px/1.5 "Lucida Grande",tahoma,arial,"\5b8b\4f53";}
a,a:hover {color:#005ea7;}
.grid_m_inner,
.grid_s {background:#fff;}
/* ==== 顶部工具条 ==== */
.cg_toolbar {height:30px;background:#3b3a40;}
.cg_toolbar .login_wrap {float:right;padding-right:23px;line-height:30px;color:#fff;}
.cg_toolbar .login_wrap a {padding:7px;color:#fff;}

/* ==== 导航 ==== */
.cg_header {height:93px;}
.cg_header .title {float:left;padding-top:25px;}
.cg_header .title a {display:block;position:relative;width:160px;height:45px;overflow:hidden;}
.cg_header .title img {position:absolute;top:0;left:0;}
.cg_header .nav {float:left;padding-left:40px;font-size:0;}
.cg_header .nav li,
.cg_header .nav a {display:inline-block;*display:inline;*zoom:1;margin-right:3px;}
.cg_header .nav a {height:53px;border-top:2px solid #f5f5f5;padding:38px 25px 0;text-decoration:none;font:700 15px/15px "\5FAE\8F6F\96C5\9ED1",Arial;color:#333;}
.cg_header .nav a:hover,
.cg_header .nav .curr a {border-top:2px solid #c91623;background:#fff;}

/*==== 栏目框 ====*/
.mod_col {}
.mod_col_hd {height:18px;padding:16px 30px 5px;}
.mod_col_hd .title {float:left;font:700 14px/18px "\5FAE\8F6F\96C5\9ED1","";color:#666;}
.mod_col_hd .more {float:right;}
.mod_col_bd {padding:10px 30px 20px;}

.mod_list {}
.mod_list li {width:100%;padding-bottom:8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#005ea7;}

/*==== 表格 ====*/
.mod_table {width:100%;}
.mod_table th,
.mod_table td {padding:7px 0 7px 20px;text-align:left;}
.mod_table td {border-top:1px solid #f2f2f2;color:#999;}
.mod_table th {border-bottom:1px solid #f7f7f7;background:#f7f7f7;color:#666;font-weight:400;}

/*==== form ====*/
/* input_m=mini n=normal l=long */
.input_m,
.input_n,
.input_l,
.input_xl,
.input_xxl {height:34px;border:1px solid #cccccc;line-height:34px;font-size:14px;}
.input_m {width:88px;}
.input_n {width:148px;}
.input_l {width:188px;}
.input_xl {width:268px;}
.input_xxl {width:304px;}
.input_m:focus,
.input_n:focus,
.input_l:focus,
.input_xl:focus,
.input_xxl:focus {border:1px solid #7abd54;}

/* ==== 弹层 用线上的代码 ==== */
.thickframe{position:fixed;top:0;left:0;z-index:10000000;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity=0);opacity:0}.thickdiv{position:fixed;top:0;left:0;z-index:10000001;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity=15);opacity:.15}.thickbox{position:absolute;z-index:10000002;overflow:hidden;padding:0;border:4px solid rgba(0,0,0,.1);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}.thicktitle{height:27px;padding:0 10px;border:solid #C4C4C4;border-width:1px 1px 0;background:#F3F3F3;line-height:27px;font-family:arial,"\5b8b\4f53";font-size:14px;font-weight:700;color:#333}.thickwrap .thicktitle{height:31px;padding:0 10px;background:#f5f5f5;line-height:31px;font-family:arial,"\5b8b\4f53";font-size:14px;font-weight:700;color:#333;border:0}.thickclose:link,.thickclose:visited{display:block;position:absolute;z-index:100000;top:7px;right:12px;overflow:hidden;width:15px;height:15px;background:url(http://misc.360buyimg.com/201007/skin/df/i/bg_thickbox.gif) no-repeat 0 -18px;font-size:0;line-height:100px}.thickwrap .thickclose:link,.thickwrap .thickclose:visited{display:block;position:absolute;z-index:100000;top:5px;right:10px;overflow:hidden;width:21px;height:21px;background:url(http://misc.360buyimg.com/lib/skin/2013/i/thickbox_close.png) no-repeat 0 0;font-size:0;line-height:100px}.thickcon{overflow:auto;background:#fff;padding:10px}.thickwrap{border:1px solid #c4c4c4}.thickwrap .thickcon{background:0}.thickwrap{border:1px solid #c4c4c4;background:#fff}.thickloading{background:url(http://misc.360buyimg.com/lib/skin/e/i/loading-jd.gif) #fff no-repeat center center}.thickcountdown{height:20px;padding-right:6px;margin-top:-20px;text-align:right;color:#999}*html .thickframe{position:absolute}*html .thickdiv{position:absolute}#thicktitler{}#thickcloser:link,#thickcloser:visited{}#thickconr{}

.thickcon .cont_inner {text-align:center;}
.thickcon .btn_wrap {padding-top:20px;}


/*==== 底部 ====*/
.cg_footer {padding:10px 0 30px;}
.cg_footer_list {white-space:nowrap;word-wrap:normal;overflow:hidden;*zoom:1;width:670px;margin:0 auto;}
.cg_footer_list li {float:left;margin-left:-1px;}
.cg_footer_list li a {display:block;padding:0 10px;border-left:1px solid #666;margin-top:10px;margin-bottom:10px;line-height:11px;color:#666;font-size:12px;}

.cg_strong {color:#e4393c;}

/*==== 翻页 ====*/
.page_navigater {color:#000;}
.page_navigater .page_num {padding-right:6px;}
.page_navigater .page_prev,
.page_navigater .page_next {display:inline-block;width:48px;height:30px;background:url(../img/login.png) no-repeat 0 -233px;text-align:center;line-height:30px;cursor:pointer;}
.page_navigater .page_next {background-position:-53px -233px;}
.page_navigater .page_prev_disabled {background-position:0 -200px;}
.page_navigater .page_next_disabled {background-position:-53px -200px;}
.page_navigater .page_prev span,
.page_navigater .page_next span {visibility:hidden;}

/* icon and btn */
.btn_mini,.btn_mini:hover {display:inline-block;width:52px;height:25px;background:url(../img/login.png) no-repeat 0 -166px;text-align:center;line-height:25px;text-decoration:none;color:#333;_display:inline;_zoom:1;}

.wrap_mod_stock {color:#e4393c;}
.mod_stock,
.mod_stock .mod_stock_in {height:10px;line-height:10px;}
.mod_stock {display:inline-block;width:75px;margin-right:5px;background:#e4e4e4;_display:inline;_zoom:1;}
.mod_stock .mod_stock_in {float:left;display:inline;overflow:hidden;background:#e4393c;}
.full {color:#71b247;}
.full .mod_stock_in {background:#71b247;}

.side_menu {width:113px;padding:20px 15px;vertical-align:middle;}
.side_menu .mod_list li a {color:#333333;}
.side_menu .mod_list li a b{display:inline-block;width:2px;height:2px;margin:0 10px 0 15px;line-height:2px;overflow:hidden;font-size:2;background:#000000;_display:inline;_zoom:1;vertical-align:middle;}
.side_menu .mod_list .curr a {font-weight:bold;color:#c91623;}

.btn_strong,
.btn_strong span,
.btn_normal,
.btn_normal span {display:inline-block;_display:inline;_zoom:1;height:25px;line-height:25px;background:url(../img/btn.png) no-repeat 0 -90px;font-size:0;cursor:pointer;}
.btn_strong {padding-left:15px;}
.btn_strong span {padding-right:15px;background-position:right -90px;color:#fff;font-size:12px;}
.btn_normal {padding-left:15px;background-position:0 -118px;}
.btn_normal span {padding-right:15px;background-position:right -118px;color:#333;font-size:12px;}

.btn_normal_m,
.btn_normal_m span {display:inline-block;_display:inline;_zoom:1;height:21px;line-height:21px;background:url(../img/btn.png) no-repeat 0 -66px;font-size:0;cursor:pointer;}
.btn_normal_m {padding-left:15px;}
.btn_normal_m span {padding-right:15px;background-position:right -66px;color:#333;font-size:12px;}

.btn_strong:hover,
.btn_normal:hover,
.btn_normal_m:hover {text-decoration:none;}



