@charset "utf-8";
/*.grid_m_inner,
.grid_s {background:#fff;}*/

/*==== 轮播 ====*/
.banner_wrap {padding:20px 30px;}
.slider{width:808px;height:280px;overflow:hidden;position:relative;}
.slider_ctn img{display:block;}
.slider_ctn li{width:808px;height:280px;overflow:hidden;}
.slider_ctn li a{display:block;width:100%;height:246px;}
.slider_loading{background:url(../img/loading.gif) center center no-repeat;}
.slider_nav{position:absolute;right:0;bottom:5px;}
.slider_nav li{display:inline;float:left;margin-right:10px;width:22px;height:22px;overflow:hidden;border-radius:11px;background:#999999;line-height:22px;text-align:center;cursor:pointer;color:#fff;}
.slider_nav .on{background:#e4393c;color:#fff;}
.slider_btn{display:block;width:30px;height:50px;position:absolute;top:50%;margin-top:-25px;}
.slider_btn_prev{left:0;background:rgba(0,0,0,.7) url(../img/prev.png) no-repeat center 18px;}
.slider_btn_next{right:0;background:rgba(0,0,0,.7) url(../img/next.png) no-repeat center 18px;}

/*==== 公告 ====*/
.cg_notice {height:320px;}


/*==== 楼层2 ====*/
.cg_f2 {margin-top:10px;}

/*==== 楼层3 ====*/
.cg_f3_zhongbiao {margin-top:10px;background:#fff;}

/* 各表格列宽度 */
.table_yugao .col1 {width:300px;}
.table_ruwei .col1 {width:415px;}
.table_zhongbiao .col1 {width:416px;}
.table_zhongbiao .col2 {width:588px;}
.table_yugao .col1_in,
.table_ruwei .col1_in,
.table_zhongbiao .col1_in,
.table_zhongbiao .col2_in {width:inherit;color:#005ea7;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*==== for ie6 7====*/
.table_yugao .col1_in {*width:300px;}
.table_ruwei .col1_in {*width:415px;}
.table_zhongbiao .col1_in {*width:316px;}
.table_zhongbiao .col2_in {*width:488px;}

/*==== 楼层4 友情链接 ====*/
.cg_f4_friendslink {margin-top:10px;background:#fff;}
.cg_f4_friendslink .mod_col_bd {padding:10px 0 5px 15px;}
.cg_f4_friendslink li {float:left;width:100px;height:40px;padding:0 49px 15px 0;overflow:hidden;}
.cg_f4_friendslink li img {width:100px;height:40px;}

/*==== 页面页码导航 ====*/
.page_wrap {padding-top:8px;}
.page_navigater {text-align:right;}

/*==== 招标预告 ====*/
.page_zhaobiao {}
.page_zhaobiao .col1 {width:540px;}
.page_zhaobiao .cg_notice {height:auto;}
.page_zhaobiao .mod_table td {padding:7px 0 6px 20px;}


/*==== page_detail ====*/
.page_detail {padding:0 30px;background:#fff;}
.page_detail_hd {padding:18px 0;}
.page_detail_hd h2 {font:700 14px/18px "\5FAE\8F6F\96C5\9ED1",Arial;}
.page_detail_bd {padding:20px 0;border-top:1px solid #f5f5f5;}

.detail_item {zoom:1;padding:7px 0;color:#777;}
.detail_item:after {content:' '; display:block; clear:both; height:0; visibility:hidden;}
.detail_item .detail_item_tit {float:left;width:260px;text-align:right;}
.detail_item .detail_item_cont {float:left;width:715px;padding-left:3px;overflow:auto;}
.detail_action {padding-left:264px;}

.detail_intro {height:145px;line-height:22px;overflow:auto;}

/*==== 招标详情 ====*/
.table_yugao_detail {width:566px;}
.table_yugao_detail th,
.table_yugao_detail td {text-align:center;}
.table_yugao_detail thead .col1 {color:#777;}
.table_yugao_detail .col1 {padding-left:10px;color:#005ea7;}
.table_yugao_detail .col2 {width:270px;text-align:left;}
.table_yugao_detail .col2_in {width:250px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*==== 入围公告 ====*/
.page_ruwei .col1 {width:680px;}
.page_ruwei .cg_notice {height:auto;}
.page_ruwei .mod_table td {padding:7px 0 6px 20px;}

/*==== 中标公告 ====*/
.page_zhongbiao {}
.page_zhongbiao .col1 {width:310px;}
.page_zhongbiao .col2 {width:340px;}
.page_zhongbiao .cg_notice {height:auto;}
.page_zhongbiao .mod_table td {padding:7px 0 6px 20px;}

/*==== 我的招标 ====*/
/*.side_menu {width:113px;padding:20px 15px;vertical-align:middle;}
.side_menu .mod_list li a {color:#333333;}
.side_menu .mod_list li a b{display:inline-block;width:2px;height:2px;margin:0 10px 0 15px;line-height:2px;font-size:2;background:#000000;_display:inline;_zoom:1;vertical-align:middle;}
.side_menu .mod_list .curr a {font-weight:bold;color:#c91623;}*/

.brand {padding:20px 30px 13px;margin-bottom:10px;background:#fff;}
.brand_name {padding-bottom:20px;border-bottom:1px solid #f2f2f2;}
.brand_name h2 {font-size:14px;}
.brand_name h2 img {margin-right:20px;}
.brand_info {padding-top:20px;}
.page_wotb  .grid_m_inner {background:#f5f5f5;}
.page_wotb  .mod_col {background:#fff;}

.brand_info .brand_info_row {padding-bottom:4px;}
.brand_info .brand_info_col {display:inline-block;width:245px;_display:inline;_zoom:1;}

.search {float:right;}
.search .input_search {width:113px;height:19px;line-height:19px;padding-left:5px;border:1px solid #ccc;vertical-align:middle;}
.search .btn_normal_m {vertical-align:middle;}
/*.search .submit {width:49px;height:17px;line-height:17px;color:#000;border:1px solid #ccc;}*/

.search_rang {padding:5px 20px;background:#f0f0f0;text-align:right;}
.search_rang select {width:120px;height:19px;line-height:19px;*height:21px;*line-height:21px;border:1px solid #ccc;}

.table_my_toubiao tbody .col1 {color:#005ea7;}
.table_my_toubiao .col2 {width:750px;}
.table_my_toubiao .col2 .col2_in {width:400px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}


/*==== 我的资料 ====*/
.page_myinfo .grid_m_inner {padding:20px 30px 10px;}
.page_myinfo .input_m,
.page_myinfo .input_n, 
.page_myinfo .input_l,
.page_myinfo .input_xl,
.page_myinfo .input_xxl {margin-right:10px;height:23px;line-height:23px;}
.page_myinfo .input_xxxl {margin-right:10px;width:508px;height:23px;line-height:23px;border:1px solid #ccc;}
.page_myinfo .sel_l {width:188px;height:23px;line-height:23px;border:1px solid #ccc;}
.page_myinfo .input_n {width:129px;}
.page_myinfo .sel_n {/*width:148px;*/width:129px;height:23px;margin-right:5px;line-height:23px;border:1px solid #ccc;}
.page_myinfo .chk {margin-right:5px;vertical-align:middle;}
.page_myinfo .lb {margin-right:20px;}
.page_myinfo .form_action {text-align:center;}

.info_item {margin-bottom:10px;position:relative;}
.info_item_hd {padding:10px 20px;background:#ececec;}
.info_item_hd h2 {float:left;font-size:14px;}
.info_item_hd .edit {float:right;cursor:pointer;}
.info_item_hd .action,
.info_item_hd .action:hover {color:#005ea7;text-decoration:none;}
.info_item_hd .arrow {display:inline-block;width:11px;height:7px;overflow:hidden;margin-right:10px;background:url(../common/img/login.png) no-repeat -14px -290px;_display:inline;_zoom:1;vertical-align:middle;}
.info_item_bd {padding:20px 0;display:none;}
.status_open .info_item_hd .action {color:#999;cursor:pointer;}
.status_open .info_item_hd .arrow {background-position: 0 -290px;}
.status_open .info_item_bd {display:block;}

#fileQueue {position:absolute;top:10px;right:100px;}

.info_table {width:100%;}
.info_table th {font-weight:normal;padding:7px 0;background:#f7f7f7;}
.info_table tbody td {padding:5px;border-bottom:1px solid #f2f2f2;}
.info_table tfoot td {padding:5px;}
.info_table .strong {display:inline-block;margin:0 5px 0 0;vertical-align:middle;color:#e4393c;}

.info_table .col1,
.info_table .col2 {width:90px;}
.info_table .col3,
.info_table .col4,
.info_table .col5 {width:150px;}
.info_table .col6 {width:190px;}
.info_table .col7 {text-align:center;}
.info_table .foot_btn_add {text-align:right;}
.info_table .foot_btn_save {text-align:center;}


.txt_notice {color:#ff7700;}
.btn_common {display:inline-block;width:91px;height:21px;line-height:21px;text-align:center;color:#333;background:url(../common/img/login.png) no-repeat 0 -266px;_display:inline;_zoom:1;}
.btn_common:hover {text-decoration:none;color:#000;}

.form_item {padding-bottom:10px;vertical-align:top;}
.form_item .item_lb {display:inline-block;width:123px;color:#777;text-align:right;_display:inline;_zoom:1;}
.form_item .placeholder {color:#999;}
.form_item .focus {border:1px solid #7abd54;}

/*==== 财务 ====*/
.jishu .form_item {padding-bottom:10px;}
.jishu .item_lb {float:left;width:175px;}
.jishu .input_wrap {float:left;width:820px;}
.shebei_table tbody td {text-align:center;}

/*==== 其它 ====*/
.other .form_item {padding-bottom:10px;}
.other .item_lb {float:left;width:175px;}
.other .input_wrap {float:left;width:820px;}
.other .txta {width:345px;height:100px;border:1px solid #ccc;o}

/*==== 上传 ====*/
.upload .form_item {padding-bottom:10px;}
.upload .item_lb {float:left;width:175px;}
.upload .input_wrap {float:left;width:100px;}
.upload .btn {padding:0 10px;color:#333;}
.upload .upload_add {padding-left:175px;}

/*==== 地图 ====*/
.page_map {padding:20px 30px;background:#fff;}
.page_map .map {float:left;width:610px;height:390px;margin-right:10px;}
.page_map .addr {float:left;}
.page_map .addr h2 {padding-bottom:17px;font-size:14px;}
.page_map .addr p {padding-bottom:17px;}

/*==== QA and 关于我们 ====*/
.mod_single {padding:20px 30px;margin-bottom:10px;background:#fff;}
.mod_single_hd {padding-bottom:17px;font-size:14px;}


/*==== QA ====*/
.qa_q {padding-bottom:4px;}
.qa_a {padding-bottom:27px;}

/*====关天我们====*/
.jd_about p,
.jd_peisong p {padding-bottom:14px;}
