@charset "utf-8";
.lg_wrap {padding:20px 40px;}
.lg_wrap .lg_name,
.lg_wrap .lg_password,
.lg_wrap .lg_verification {position:relative;}
.lg_wrap .input_xl,.lg_wrap .input_n {position:relative;z-index:2;background:transparent;}
.lg_wrap .lg_tip_placeholder {position:absolute;;top:8px;left:10px;font-size:14px;color:#ccc;z-index:1;}
.lg_wrap .lg_error {display:none;color:#e4393c;}
.lg_wrap .lg_tip_wrap {height:30px;}
.lg_wrap .focus .input_xl {border:1px solid #7abd54;}
.lg_wrap .error .input_xl {border:1px solid #e4393c;color:#e4393c;}
         .focus .lg_tip_wrap .lg_tip {display:block;}
         .error .lg_tip_wrap .lg_error,
         .error .i_error {display:block;}
         .error .lg_tip,
         .error .i_password {display:none;}
         .img_vertify {vertical-align:middle;cursor:pointer;}
.i_name,
.i_password,
.i_error {display:block;position:absolute;left:247px;top:9px;width:16px;height:19px;background:#fff url(../img/login.png) no-repeat 0 -66px;}
.i_password {background-position: -19px -66px;}
.i_error {background-position: -36px -66px;display:none;}

.input_xl::-ms-clear ,
.input_xl::-ms-reveal {display:none;}

.lg_other .lg_auto_chk {margin-top:3px;vertical-align:middle;}
.lg_other .lg_auto_lb,
.lg_other .lg_forget {vertical-align:middle;padding-right:5px;color:#666;}

.btn {display:inline-block;_display:inline;_zoom:1;width:130px;height:30px;padding:0;text-align:center;vertical-align:middle;font:normal 14px/30px Simsun;background:url(../img/login.png) no-repeat 0 0;text-decoration:none;}
.btn:hover {text-decoration:none;}
.btn_login,
.btn_login:hover {color:#fff;}
.btn_register,
.btn_register:hover {color:#000;background-position: 0 -33px;}

.lg_action {padding-top:8px;}
.lg_action .btn_strong {margin-right:7px;}
