body{font-size:12px; margin:0px; padding:0px; }
img{border:0px;}
table{font-size:12px; border-collapse:collapse;}
.clear{clear:both;}

.login{width:428px; height:366px; background:url(../img/login.png) no-repeat; overflow:hidden; position:absolute; top:50%; margin-top:-183px; left:50%; margin-left:-219px;}
.login-text{width:207px; border:none;}
.login-btn{width:180px; height:40px; border:0px; line-height:38px; background:url(../img/login-btn.png) no-repeat;}
.login-bg{background:url(../img/login-bg.png) repeat-x;}

.a{position:relative; }
.b{position:absolute; right:0px; bottom:0px;}


.left{background:url(../img/left_bg.png) repeat-y;}


.top{height:78px; background:url(../img/top_bg.png) repeat-x; position:relative;}
.logo{height:38px; width:188px; padding-top:20px; margin-left:20px;}
.denglu{position:absolute; right:17px; top:62px; line-height:17px;}
.title{height:23px; line-height:23px; background:url(../img/title.png) repeat-x;}







/********************左侧树形菜单************************/
.amrow {
	height:20px; line-height:20px;  border-bottom:1px dashed #ccc; text-align:center; color:#666; border-left:1px solid #ccc; border-right:1px solid #ccc;
}
.amrow-sel	{background:url(../img/arrow-sel.png) ;  display:block;}

.amrow a:link{color:#666; text-decoration:none;}
.amrow a:visited{color:#666; text-decoration:none;}
.amrow a:hover{color:#666; text-decoration:none; }



.ectnav{margin:10px 0px;}
.ect-nav{width:100px; height:30px; line-height:30px; float:left; margin:1px;  }
.ect-nav a{display:block; padding-left:10px;}
.ect-nav a:link{color:#333; text-decoration:none;}
.ect-nav a:visited{color:#333; text-decoration:none;}
.ect-nav a:hover{color:#666; text-decoration:none; background:url(../img/ect-nav-bg.png) no-repeat;}

.ect-nav-hover{width:100px; height:30px; line-height:30px; float:left; margin:1px;  }
.ect-nav-hover a{display:block; padding-left:10px;}
.ect-nav-hover a:link{color:#000; text-decoration:none;background:url(../img/ect-nav-bg.png) no-repeat;}
.ect-nav-hover a:visited{color:#000; text-decoration:none;background:url(../img/ect-nav-bg.png) no-repeat;}
.ect-nav-hover a:hover{color:#000; text-decoration:none; background:url(../img/ect-nav-bg.png) no-repeat;}


.picshow{margin:5px; border:1px solid #ccc; width:120px; height:120px;  float:left; text-align:center; overflow:hidden; position:relative;}
.picshow img{height:100px; margin:10px auto;}
.pic-del{width:25px; width:50px; position:absolute; top:0px; right:0px; line-height:27px; background:url(../img/pic-del.png) no-repeat; text-align:left;}
.pic-del a{padding-left:7px; display:block;}
.pic-del a:link{color:#333; text-decoration:none;}
.pic-del a:visited{color:#333; text-decoration:none;}
.pic-del a:hover{color:#333; text-decoration:none;}

.vintage-sel{width:150px;}
.vintage-text{width:150px;}
.vintage-area{width:320px; height:100px;}




.picmgr-ul{}
.picmgr-ul li{float:left;}
.picmgr-d{line-height:40px; font-size:16px; font-weight:bold; color:#aa0000}