## Created with IntelliJ IDEA.
## Desctription:批量表单所有人修改
## User: yujiahe
## Date: 13-9-14
## Time: 下午2:36
<script type="text/javascript" src="#springUrl('')/js/form/formOwner_update.js"></script>

<div class="form-horizontal">
##    <input type="hidden" value="$!{form.id}" id="editFormId" name="editFormId">
    <input type="hidden" value="$!{ids}" id="ids" name="ids">
    <div class="control-group" style="height: 40">
        <label class="control-label">Power User:</label>

        <div class="controls">
            <select id="updateOwner">
                #foreach($!sysUserRole in $!{userList})
                    <option value="$!{sysUserRole.userId}" >$!{sysUserRole.realName}</option>
                #end

            </select>
        </div>

    </div>
</div>