##################################
## 数据表库-数据表字段配置维护首页
##author：dongjian
##################################

#set($layout = "layout/default.vm")

<script type="text/javascript" src="#springUrl('')/static/jeditable/jquery.jeditable.js"></script>
<!-- 数据字典-数据项新增页JS -->
<script type="text/javascript" src="#springUrl('')/js/form/formBusinessField_index.js"></script>

<style type="text/css">
	.editInputType select{width:120px;}
	.editDataType select{width:120px;}
</style>


<input type="hidden" id="tableId" value="$!{tableId}" />
<input type="hidden" id="idInfo" value="$!{formBusinessFieldId}" />
<input type="hidden" id="tableType" value="$!{tableType}" />
<input type="hidden" id="inputTypeConfig" value="" />
<input type="hidden" id="flag" value="$!{flag}" />
<form id="businessFieldForm" method="POST" action="" enctype="multipart/form-data">
    <div class="container" style="width:100%">
        <div>
            <table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="formBusinessField" width="100%"></table>
        </div>
    </div>
</form>
	
