.layout{
	margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 0;	
}
.layout-split-north {
    border-bottom: 5px solid #EFEFEF;
}
.layout-panel-north, .layout-panel-south {
    z-index: 3;
}
.layout-panel {
    overflow: hidden;
    position: absolute;
}
.panel {
    overflow: hidden;
    text-align: left;
}
.panel-body {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
    border-top-width: 0;
    overflow: auto;
}
.panel-header, .panel-body {
    
}
.panel-body-noheader {
    border-top-width: 1px;
}
.layout-split-west {
    border-right: 5px solid #EFEFEF;
}
.layout-panel-east, .layout-panel-west {
    z-index: 2;
}