#set($layout = "layout/null.vm")
            <!-- left-side -->
            <div class="mt">
                <h3>流程中心</h3>
            </div>
            <div class="mc" style="overflow:auto">
                <ul>
                
                    <li class="">
                        <h3 class="info">流程地图</h3>
						<ul class="hide">
							
							<li ><a  onclick="loadMainPage('#springUrl("/app/map")')">流程地图</a></li>
						</ul>
                    </li>
                
                    <li class="open">
                        <h3 class="info">我的流程</h3>
						<ul class="hide">
							<li class="curr"><a  onclick="loadMainPage('#springUrl("/app/info")')">申请&待办</a></li>
							
						</ul>
                    </li>
					<!--
					<li class="open">
                        <h3 class="info">流程列表</h3>
						<ul class="hide">
							#foreach($!{dataInfo} in ${pcList})
							<li><a onclick="loadMainPage('#springUrl("/app/processSearch_index?processApply=$!{dataInfo.dictCode}")')">
								$!{dataInfo.dictName}
							</a></li>
                            #end
						</ul>
                    </li>
					-->
					#foreach( $item in $processTypeMap.entrySet() )
                    	<li class="">
                    	<h3 class="">$!{item.key}</h3>
                    	
                    	<ul class="hide">
                             #foreach($!processType in $!{item.value})
	                            <li class="">
	                            	
	                            	#if( $!{processType.isOuter} == 1 )
										<a 	target="_blank" href="$!{processType.linkUrl}" >$!{processType.processTypeName}</a>
									#else
	                            
		        						<a onclick="loadMainPage('#springUrl("/app/processSearch_index?processTypeId=$!{processType.id}")')">
		                					 $!{processType.processTypeName}
		        						</a>
	        						
	        						#end
	        						
	                            </li>
                        	#end
						</ul>
						</li>
                    #end
              </ul>
            </div>
            <!-- left-side end -->
    <script type="text/javascript">
        $(".menu-left .mc>ul>li>h3").bind("click", function () {
            if($(this).parent().attr("class")=="open"){
                $(this).parent().removeClass("open");
            }else{
                $(this).parent().addClass("open");
            }
            var openClass= $(this).parent().parent().find(".open");
            for(var i=0;i<openClass.length;i++){
                if($(this).text()==$(openClass[i]).find("h3").text()){
                         continue;
                }
                $(openClass[i]).find("h3").text($(openClass[i]).find("h3").text());
                if($(openClass[i]).find("h3").text()!=null){
                    $(openClass[i]).find("h3").parent().removeAttr("class");
                }
            }
        });
        $(".menu-left .mc>ul>li>h3").parent().find("ul>li").bind("mouseover", function () {
            $(this).addClass("curr").siblings().removeClass("curr");
        });
    </script>