#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head>
<link href="#springUrl('')/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="#springUrl('')/static/datatables/css/TableTools.css" rel="stylesheet" type="text/css"/>
    
<script type="text/javascript" src="#springUrl('')/static/common/js/jquery.js"></script>
<link href="#springUrl('/design/js/jquery-easyui/themes/bootstrap/easyui.css')" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="#springUrl('')/design/js/jquery-easyui/jquery.easyui.min.js"></script>

<!--富文本编辑器JS -->
<script type="text/javascript" src="#springUrl('')/js/app/FlexFileUpLoad.js"></script>
        <title></title>
        <meta name="google" value="notranslate" />         
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css" media="screen"> 
            html, body  { height:100%; }
            body { 
            	margin:0; 
            	padding:0; 
            	overflow:hidden; 
            	text-align:left; 
             }   
        </style>
        <script type="text/javascript">
        	var springUrl = "#springUrl('')";
           /**
			 * 获取离线excel导入数据模板
			 */
			function getExcelModelOfSubSheet(){
				var url = springUrl + "/app/process_exportExcel_formSheetModel?tableName=T_JDOA_CUSTOM_DEPT_BUDGET";
				window.location.href = encodeURI(url);
				return;
			}
			/**
			 * 导入数据
			 */
			function importExcel(){
			    if($('#importExcel').length == 0){
			        $('body').append("<div id='importExcel'></div>");
			    }
			    var win = $('#importExcel').window({
			        title: '附件上传-对话框',
			        width: 645,
			        modal: true,
			        shadow: false,
			        content:"<iframe src='" + springUrl + "/app/process_FlexUpFile?fieldName=&tableName=T_JDOA_CUSTOM_DEPT_BUDGET&flag=importExcel&j=" + Math.random() + "' scrolling='no' width=100% height=300 frameBorder=0></iframe>",
			        closed: false,
			        height: 340
			    }).window('open');
			    return;
			}
        </script>
    </head>
    <body>
       <fieldset style="width:300;height:150;border:1px dashed gray;">
			<legend style="width:100px;border:1px dashed gray;background-color:#ffffff;text-align:center;font-size:14px;">操作</legend>
			<button type="button" class="btn" onclick="getExcelModelOfSubSheet();return false;">获取导入Excel离线模板</button>
			<button type="button" class="btn" onclick="importExcel();return false;">导入</button>
			 <br/>
	   </fieldset>
	   <br/>
       
   </body>
</html>
