#set($layout = "app/app_main.vm")
<script>
		var springUrl = "#springUrl('')"; 
		/**
		 * 弹出任务处理页面
		 * @param processName 流程名称
		 * @param processInstanceId 流程实例ID
		 * @param taskInstanceId 任务实例ID
		 */
		
		
		function quickOpenTaskHandleIndex(processDefinitionKey, processDefinitionName,businessObjectId,processInstanceStatus){
			var url = springUrl + "/app/process_apply?processDefinitionKey="+processDefinitionKey 
				+"&processInstanceStatus=";
			var buttons = [
		           {
		           "label": "取消",
		           "class": "inactive",
		           "callback": function () {
		           }
		       },
		        {
		            "label": "保存草稿",
		            "class": "active1",
		            "callback": function () {
		               var frame = document.getElementById('bindReportFrame').contentWindow;
					   var check=frame.saveDraft();
					   if(check){
					   		if(document.getElementById('mainFrame').contentWindow.load!=null){
					   			document.getElementById('mainFrame').contentWindow.load('apply', springUrl+'/app/processApply_index',true);
							}else{
								
							}
					   }
		               return check;
		            }
		        },
		        {
		           "label": "提交",
		           "class": "active1",
		           "callback": function () {
		        	   var frame = document.getElementById('bindReportFrame').contentWindow;
					   Dialog.confirm("系统消息", "提交后将无法修改，确定提交申请？", "确定", "取消", function (result) {//提交前确认
                        	if(result){
                        		 var check = frame.submitProcess();
                                 if(check){
        					   		if(document.getElementById('mainFrame').contentWindow.load!=null){
        					   			document.getElementById('mainFrame').contentWindow.load('apply', springUrl+'/app/processApply_index',true);
        							}else{
        								
        							}
                                 	Dialog.hide($("#advancedModel"));
                                 }
                        	}
                        });
                       return false;
		           }
		       }
		   ];
		   Dialog.openRemote(processDefinitionName,url,1000,550,buttons);
	}

</script>

<div class="">
    <!-- BEGIN STYLE CUSTOMIZER -->
				<div class="note fl">
				#if ($!{sex}=="女")
				<img src="#springUrl('')/static/app/image/female.jpg" width="42" height="42" />
				#else
				<img src="#springUrl('')/static/app/image/male.jpg" width="42" height="42" />
				#end
				$!{displayTime}好 , [$!{displayName}]--喝杯咖啡，舒缓一下紧张的神经吧！
				</div>
				<div class="flow-nav fr">&nbsp;</div>
				<div id="logoutBtn" class="flow-nav fr hide">
					<div class="tit" onclick="window.location.href='/logout'">退出</div>
				</div>
				<div class="flow-nav fr">&nbsp;</div>
				#if ($!{isAdministrator})
				<div class="flow-nav fr">
					<div class="tit" onclick="window.open('/admin');">后台管理</div>
				</div>
				<div class="flow-nav fr">&nbsp;</div>
				#end
				
				<!--
				<div class="flow-nav fr">
					<div class="tit">流程导航<b></b></div>
					<ul class="con m">
						#foreach($processType in $processTypeMap.entrySet())
						<li style="">
							<dl>
								<dt>$!{processType.key}</dt>
								#foreach($processDefinition in $processType.value)
								
								<dd><a href="#" title="$!{processDefinition.processDefinitionName}" onclick="quickOpenTaskHandleIndex('$!{processDefinition.pafProcessDefinitionId}','$!{processDefinition.processDefinitionName}')"> #if(  ${processDefinition.processDefinitionName.length()} < 6 ) $!{processDefinition.processDefinitionName} #else ${processDefinition.processDefinitionName.substring(0,5)}... #end</a></dd>
								#end
							</dl>
						</li>
						#end
					</ul>
				</div>
				-->
				
    <!-- END PAGE TITLE & BREADCRUMB-->
</div>
        <script>
            jQuery(document).ready(function() {    
				$(".flow-nav").hover(function(){$(this).find(".tit").addClass("curr-tit");$(this).find(".con").show()},function(){$(this).find(".tit").removeClass("curr-tit");$(this).find(".con").hide()});
           		var withMenu=$("input[name='withMenu']").val();
				if(withMenu=="1"){
					$("#logoutBtn").removeClass("hide");
				}
			});
        </script>