#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>京东办公自动化平台</title>
        <meta content="" name="description" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="#springUrl('')/static/app/skin/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="#springUrl('/static/app/skin/index.css')" rel="stylesheet" type="text/css"/>
		<link href="#springUrl('/static/common/css/loading.css')" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
		<script type="text/javascript" src="#springUrl('/static/common/js/jquery.js')"></script>
		<script type="text/javascript" src="#springUrl('/static/bootstrap/js/bootstrap.min.js')"></script>
		<script type="text/javascript" src="#springUrl('/static/common/js/draggable.js')"></script>
		<script type="text/javascript" src="#springUrl('/static/bootstrap/js/bootbox.js')"></script>
		<script type="text/javascript" src="#springUrl('/static/common/js/Dialog.js')"></script>
		<script type="text/javascript" src="#springUrl('/static/common/js/json2.js')"></script> 
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body  style="margin:0;overflow-x : hidden;" class="blue">
        <!-- BEGIN CONTAINER -->
            <!-- BEGIN PAGE -->
                    <!-- 各页面主体内容开始 -->
                    <div id="mainPage" class="row-fluid">$screen_content</div>
                    <!-- 各页面主体内容结束-->
            <!-- END PAGE -->
        <!-- END CONTAINER -->
        <script>
			var springUrl = "#springUrl('')";   //路径全局变量
        </script>
		<script src="#springUrl('/static/app/js/lib-v1-Jtab.js')" type="text/javascript"></script>
		<script type="text/javascript" src="#springUrl('/static/common/js/loading.js')"></script> 
    </body>
    <!-- END BODY -->
</html>
