##################################
## 文档-文件夹查看页面
##author：yaohaibin
##################################
#set($layout = "layout/null.vm")

<!-- 文档-文件夹管理首页JS -->
<script type="text/javascript" src="#springUrl('/js/doc/folder/wffolder_update.js')"></script>

<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label">文件夹名称：</label>
        <div class="controls">
            <input id="folderName" name="folderName" type="text" value="$!{wfFolder.folderName}" title="$!{wfFolder.folderName}" readonly/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">文件夹描述：</label>
        <div class="controls">
            <textarea id="folderDesc" name="folderDesc" rows="5" class="span12" readonly>$!{wfFolder.folderDesc}</textarea>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group" style="display: none">
        <label class="control-label">父节点ID：</label>
        <div class="controls">
            <input id="parentId" name="parentId" type="text" value="$!{wfFolder.parentId}"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group" style="display: none">
        <label class="control-label">ID：</label>
        <div class="controls">
            <input id="id" name="id" type="text" value="$!{wfFolder.id}"/>
            <p class="help-block"></p>
        </div>
    </div>
</div>