@CHARSET "UTF-8";
.background {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: alpha(opacity = 40);
    background: while;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999998;
}
.progressBar {
    border: solid 2px #D4D4D4;
}
.progressBar {
    display: block;
    width: 185px;
    height: 28px;
    position: fixed;
    top: 20%;
    left: 43%;
    margin-left: -74px;
    margin-top: -14px;
    padding: 10px 10px 10px 20px;
    text-align: left;
    line-height: 27px;
    font-weight: bold;
    position: fixed;
    z-index: 999999;

    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

}