#set($layout = "layout/default.vm")
<script type="text/javascript">
    $(document).ready(function(){//页面初始化设置
        bindValidate($("#addOperation"));// 绑定验证
    });
    function save(modal) {
        jQuery.ajax({
            type: "POST",
            cache: false,
            url: springUrl+"/demo/operation_save",
            data: {
                operationCode: $('#operationCode').val(),
                operationName: $('#operationName').val(),
                description: $('#description').val()
            },
            success: function (msg) {
                Dialog.alert("提示信息","添加成功！");
				Dialog.hideModal(modal);
                table.fnDraw();
            },
            error: function (msg) {

            }
        });
    }
</script>

<div id="addOperation" style="padding: 10px">
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">操作编码 :</label>
            <div class="controls">
                <input type="text" id="operationCode" name="operationCode" size="100px" data-rule="required;"/>

                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">操作名称 :</label>

            <div class="controls">
                <input type="text" id="operationName" name="operationName" size="100px" data-rule="required;"/>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label">操作描述 :</label>

            <div class="controls">
                <textarea id="description" cols="50" rows="2"></textarea>

            </div>
        </div>
    </div>
</div>


  


