@charset "utf-8";
html,body {
    font-family: Verdana, Arial, Lucida, Helvetica, "\5B8B\4F53",
    "\5FAE\8F6F\96C5\9ED1", sans-serif;
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    /*color: #808080*/
}

div,form,img,ul,ol,li,th,td,dl,dt,dd,button,input {
    margin: 0;
    padding: 0
}

li {
    list-style-type: none
}

img {
    vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: 14px
}

input {
    font-size: 12px;
    vertical-align: middle;
    color: #333
}

table {
    border-collapse: collapse;
    border-spacing: 0
}



a:hover {
    text-decoration: underline
}
.margin-row-none{
    padding-left:0;
    padding-right:0;
}

body.page-header {
    background: url(i/header-bg.png) repeat-x 0 68px
}

#header {
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    color: #656565;
    position: relative
}

#header a {
    text-decoration: none;
    color: #656565
}

#header #logo {
    padding-top: 16px;
    padding-bottom: 8px;
    position: relative;
    z-index: 2;
    width: 380px;
    overflow: hidden
}

#header #logo a {
    float: left;
    height: 40px;
    width: 347px;
    background: url(../img/logo.png) no-repeat 0 0;
    text-indent: -9999px
}

#header #sys-infor {
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 22px
}

#header #sys-infor a {
    margin-left: 5px;
    color: #48a7e7
}

#header #sys-infor a:hover {
    text-decoration: underline
}

#header #sys-infor i {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle
}

#header #sys-infor .i-messages {
    background-position: 0 0
}

#header #sys-infor .i-help {
    background-position: -28px 0
}

#nav {
    font-size: 14px
}
#nav ul {
    float: left;
    width: 100%;
    background: #48a7e7;
    overflow: hidden
}

#nav ul li {
    float: left
}

#nav ul a:link,#nav ul a:visited {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    border: #ddd;
    padding-left: 2px;
    text-decoration: none
}

#nav ul a:link span,#nav ul a:visited span {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding-right: 2px;
    color: #fff;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    text-decoration: none;
    cursor: pointer
}

#nav ul li.curr a {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    border: #ddd;
    padding-left: 2px;
    background: #3594d3;
    background-image: -moz-linear-gradient(top, #2f8dcc, #45a4e3);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2f8dcc),
    color-stop(1, #45a4e3) );
    filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
    #2f8dcc, endColorstr = #45a4e3, GradientType = '0' )
}

#nav ul li.curr a span {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding-right: 2px;
    color: #fff
}

#header #sys-links {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: right;
    height: 38px
}

#header #sys-links li {
    display: inline-block;
    margin-right: 10px
}

#header #sys-links li a:link,#header #sys-links li a:visited {
    position: relative;
    display: inline-block;
    height: 10px;
    padding: 8px 10px 14px 20px;
    font-size: 12px;
    color: #333;
    text-decoration: none
}

#header #sys-links li a:link i,#header #sys-links li a:visited i {
    position: absolute;
    width: 20px;
    height: 30px;
    left: 4px;
    top: 3px;
    background: url(../img/icon-links.png) no-repeat
}

#header #sys-links li a:link i.i-feedback,#header #sys-links li a:visited i.i-feedback
{
    background-position: 0 -7px
}

#header #sys-links li a:link i.i-question,#header #sys-links li a:visited i.i-question
{
    background-position: 0 -38px
}

#header #sys-links li {
    *display: inline
}

#header #sys-links li:hover a:link,#header #sys-links li:hover a:visited
{
    background: #def2ff;
    color: #2f8dcc
}

.overflow{
    overflow: hidden;
}
.page-left{
    width: 192px;
    /*background: url(i/menu.png) repeat-y 0 0;*/
}
.page-left,.page-right {
    overflow: hidden;
    margin-bottom:-20480px;
    padding-bottom:20480px;
}

.page-left ::-webkit-scrollbar {
    width: 7px;
    height: 7px
}

.page-left ::-webkit-scrollbar-track-piece {
    background-color: #f1f1f1
}

.page-left ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px
}

/*左侧菜单*/
.sidebar-menu{
    border-right: 1px solid #c4c8cb;
}
/*一级菜单*/
.menu-first{
    height:45px;
    line-height:45px;
    background-color: #e9e9e9;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 0 0 25px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
/*一级菜单鼠标划过状态*/
.menu-first:hover{
    text-decoration: none;
    background-color: #d6d4d5;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #acacac;
}
/*二级菜单*/
.menu-second li {
    background-color: #f6f6f6;
    height:31px;
    line-height:31px;
    /*border-top: 1px solid #efefef;*/
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}

/*二级菜单鼠标划过样式*/
.menu-second li:hover {
    background-color: #66c3ec;
    /*border-top: 1px solid #83ceed;*/
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    text-decoration: none;
}
.menu-second li a:hover {
    background-color: #66c3ec;
}
/*二级菜单选中状态*/
.menu-second-selected {
    background-color: #66c3ec;
    height:31px;
    line-height:31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    /*text-align:center;*/
}

.sidebar-menu .nav-list li a {
    padding-left:40px;
}

.sidebar-menu a:hover, .sidebar-menu a:focus {
    text-decoration: none;
}
/*底部*/
#bottom{
    text-align: center;
}

#seperator{
    cursor:hand;
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    font-size: 1px;
    height: 680px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 6px;
}

/*导航条*/
#breadcrumb{
    background: url("../img/bg.gif") repeat-x scroll 0 -2px #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    height: 29px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#breadcrumb a {
    background: url("../img/ybutton.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    color: #666666;
    display: inline-block;
    font-size: 12px;
    /*margin-left: -17px;*/
    padding: 5px 15px 10px 20px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}
#breadcrumb a.current {
    background-position: 100% -96px;
    margin-left: -17px;
    color: #333333;
}


/**重写select标签*/
.select_label {
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    padding-right: 10px;
    vertical-align: middle;
}

.select_box {
    float: left;
    color: #444;
    position: relative;
    cursor: pointer;
    width: 122px;
    background: url(../img/select.png) repeat-x;
    margin-right:10px;
}

.select_txt {
    display: inline-block;
    padding-left: 10px;
    width: 122px;
    line-height: 26px;
    height: 26px;
    cursor: text;
    overflow: hidden;
    cursor: pointer;
}

.option {
    width: 135px;;
    border: solid 1px #CCCCCC;
    position: absolute;
    top: 26px;
    left: -1px;
    z-index: 2;
    overflow: hidden;
    display: none;
}

.option a {
    color: #555555;
    display: block;
    height: 26px;
    line-height: 26px;
    text-align: left;
    padding: 0 10px;
    width: 100%;
    background: #fff;
}

.option a:hover {
    background: #5599FF;
    text-decoration: none;
}