#set($layout = "layout/default.vm")
	<!-- CSS -->
    <link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyle.css')" rel="stylesheet" type="text/css" />
    <link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeIcons.css')" rel="stylesheet" type="text/css" />
    <link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyleCustomer.css')" rel="stylesheet" type="text/css" />
    <!-- JavaScript -->
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.all-3.5.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.core-3.5.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.excheck-3.5.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exedit-3.5.js')"></script>
    <script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
	<script>
		var baseUrl = "#springUrl('')";
		var isMulti = ${isMulti};
	</script>

	<script type="text/javascript" src="#springUrl('')/js/system/address_orgDept.js"></script>
    <div id="mainPanel" >
##	  <div id="loading" style="display:none;">
##		<div class="loading-indicator"><img src="#springUrl('')/static/common/img/waiting.gif" width="30" height="30" style="margin-right:8px;" align="absmiddle"/>正在加载数据，请稍候...</div>
##	</div>
	<div id="mainPanelTreeDept" style="display:;">
		<table width="100%">
			<tr>
				<td valign="top" width="100%">
					<ul id="orgTree" class="ztree" style="overflow:visible; "></ul>
				</td>
			</tr>
		</table> 

	    </div>
        </div>
