##################################
## 数据字典-数据项新建页面
##author：dongjian
##################################

<!-- 数据字典-数据项新增页JS -->
<script type="text/javascript" src="#springUrl('')/js/system/dataPermission_add.js"></script>
<script type="text/javascript" src="#springUrl('')/js/system/address_inner.js"></script>
<style>
    .mustInput{
        color: red;
        vertical-align: middle;
        float: left;
    }
</style>

<div style="margin-left: 30px;" id="addDataPermission">
    <div class="row-fluid form-inline">
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label" for="entityType"><span class="mustInput">*</span>实体对象:</label>
                    <select id="entityType" name="entityType" data-rule="required;nospecial;length[~100]" onclick="getEntityName(this);"></select>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label" for="entityName"><span class="mustInput">*</span>实体名称:</label>
                    <input type="text" id="entityName" name="entityName"  disabled  />
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid form-inline">
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label" for="permissionType"><span class="mustInput">*</span>权限类型:</label>
                    <input type="text" id="permissionType" name="permissionType"  data-rule="required;nospecial;length[~100]"/>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label" for="expression"><span class="mustInput">*</span>权限表达式:</label>
                    <input type="text" id="expression" name="expression"  data-rule="required;nospecial;length[~1000]"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid form-inline">
        <div class="span8">
            <div class="control-group">
                <div class="controls">
                    <span class="mustInput">*</span><span class="select_label">主体对象类型:</span>
                    <div class="select_box">
                        <span class="select_txt">不限</span>
                        <div  id="subjectType" class="option">

                        </div>
                    </div>
                    <div class="clear"> </div>
                    <input name="subjectradio" type="radio" value="1" checked />允许
                    <input name="subjectradio" type="radio" value="0" />禁止
                </div>
            </div>
        </div>
    </div>

</div>
 <div id="info" style="position:relative;" >
        <div style="font-size:14px;border-bottom: solid 1px #DDDDDD;padding-left: 30px;margin-bottom: 10px;"><span class="mustInput">*</span>主体对象值：</div>
</div>

