#set($layout = "layout/default.vm")

<script type="text/javascript" src="#springUrl('/js/system/dataPermission_index.js')"></script>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped display" id="sysdataPermission"
       width="100%"></table>