#set($layout = "layout/empty.vm")
<script type="text/javascript" src="#springUrl('')/js/system/role_update.js"></script>
<div id="editRole">
	 <input type="hidden"  id="editRoleTypeValue"  value="${role.roleType}"  />
	 <input type="hidden"  id="editRoleId"  value="${role.id}"  />
	<div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">类型</label>
        <div class="controls">
             <select id="editRoleType" name="roleType" class=""   data-rule="required;">
    				<option value="">请选择</option>
        			<option value="0">角色</option>
        			<option value="1">用户组</option>
        	 </select>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">编号</label>
        <div class="controls">
          <input type="text" id="editRoleCode" name="roleCode" value="${role.roleCode}"  data-rule="required;"/>
          <input type="hidden" id="roleCodeOld" value="$!{role.roleCode}"/>
          <span id="isRepeatRoleCode"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">名称</label>
        <div class="controls">
          <input type="text" id="editRoleName" name="roleName" value="${role.roleName}"  data-rule="required;"/>
        </div>
      </div> 
    </div>
</div>
  


