#set($layout = "layout/null.vm")
<script type="text/javascript" src="#springUrl('/static/common/js/jquery.js')"></script>
<link href="#springUrl('/static/bootstrap/css/bootstrap.css')" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="#springUrl('/static/bootstrap-duallistbox-master/libraries/modernizr/modernizr-custom.min.js')"> </script>
<link href="#springUrl('/static/bootstrap-duallistbox-master/bootstrap/css/bootstrap.css')"  rel="stylesheet" type="text/css" />
<link href="#springUrl('/static/bootstrap-duallistbox-master/bootstrap/css/bootstrap-theme.css')"  rel="stylesheet" type="text/css"/>
<link href="#springUrl('/static/bootstrap-duallistbox-master/libraries/prettify/prettify.css')"  rel="stylesheet" type="text/css" />
<link href="#springUrl('/static/bootstrap-duallistbox-master/bootstrap-duallistbox/bootstrap-duallistbox.css')"  rel="stylesheet" type="text/css"/>
 <script>
     var springUrl = "#springUrl('')";
 </script>
<script type="text/javascript" src="#springUrl('/static/bootstrap-duallistbox-master/libraries/jquery-1.9.0.min.js')"></script>
<script type="text/javascript" src="#springUrl('/static/bootstrap-duallistbox-master/libraries/prettify/prettify.js')"> </script>
<script type="text/javascript" src="#springUrl('/static/bootstrap-duallistbox-master/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js')"></script>
<script type="text/javascript" src="#springUrl('')/js/system/userRoles_update.js"></script>

<div id="userRoles_update">
    <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">所属</label>
                <div class="controls">
                    <input type="radio" name="role"  id="updateUserRoleBtn" onclick="javascript:updateUserRole()"  value="0" checked> 角色
                    <input type="radio"  name="role"  id="updateGroupsBtn" onclick="javascript:updateGroups()"  value="1"> 用户组
                    <p class="help-block"></p>
                </div>
            </div>
    </div>
    <div class="form-horizontal " id="updateUserRole">
        <div class="control-group">
            <label class="control-label">    </label>
            <div class="controls">
               <select  class="" id="roleList">
                   #foreach($!role in $!{roleList})
                       <option value="$!{role.Id}">$!{role.roleName}</option>
                   #end
               </select>
            </div>
        </div>
    </div>
    <div class="form-horizontal " id="updateGroups">
        <div class="control-group">
            <label class="control-label">    </label>
            <div class="controls">
                <select id="sysGroupList" class="">
                    #foreach($!role in $!{sysGroupList})
                        <option value="$!{role.Id}">$!{role.roleName}</option>
                    #end
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="demoform" action="#" method="post">
                <select multiple="multiple" size="10" id="" name="duallistbox_demo1[]">
                    #foreach($!user in $!{userList})
                        <option value="$!{user.Id}">$!{user.realName}</option>
                    #end
                </select>
            </form>
            <script>

            </script>
        </div>
    </div>
</div>
<button id="cancel"   class="btn btn-primary pull-right" onclick="javascript:cancel();" >取消</button>
<button id="save"  onclick="javascript:saveUserRoles();" class="btn btn-primary pull-right" >保存修改</button>
  


