.footer-bar {
	background: #000;
	color: #ccc;
	font-size: 11px;
	padding: 2px 10px;
}


.menu-wrapper a {cursor: pointer;}


/* Okvee Bootstrap sidebar menu style */
.obsm li {
	word-wrap: break-word;
	border : 1px solid #797979;
	background: 1b2847;
	color : #fff;
 }
.obsm li a {
	padding: 7px 5px;
	background: none repeat scroll 0 0 #1B2847;
	color : #fff;
}
.obsm li:hover {
	background: red;
	cursor:pointer;
}
.obsm ul {
	background: #c3c3c3;
	box-shadow: 1px 1px 5px #000;
}
.obsm .arrow, .obsm .arrow:hover {
	background: url('obsm/obsm-arrow-r.png') no-repeat right;
	padding-right: 16px;
}
.obsm.right .arrow, .obsm.right .arrow:hover {
	background: url('obsm/obsm-arrow-l.png') no-repeat left;
	padding: 0 0 0 16px;
}
.obsm .arrow:hover, .obsm.right .arrow:hover {
	background-color: red;
}
/* end Okvee Bootstrap sidebar menu style */


.top-bar .brand {
	background: #000;
	color: #777;
	font-size: 20px;
	padding: 10px;
	text-shadow: 1px 1px 0 #aaa;
}

