<template>
    <div>
        <el-table
                :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                style="width: 100%; ">
            <el-table-column
                    prop="id"
                    label="ID"
                    width="80"
            ></el-table-column>
            <el-table-column
                    prop="date"
                    label="日期"
                    width="180"
            ></el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="180"
            ></el-table-column>
            <el-table-column
                    prop="address"
                    label="地址"
            ></el-table-column>
        </el-table>
        <el-pagination
                class="pager"
                background
                layout="total,sizes,prev, pager, next,jumper"
                :page-size="pageSize"
                :total="total"
                :current-page="currentPage"
                :page-sizes="[10,100,200,500]"
                @current-change="onCurrentChange"
                @size-change="onSizeChange"
        >
        </el-pagination>
    </div>
</template>

<script>
    export default {
        name:"TableTest",
        data() {
            return {
                pageSize:10,
                total:0,
                currentPage:1,
                tableData: []
            }
        },
        mounted(){
            this.init();
        },
        methods:{
            init(){
                this.$axios.get('/table1').then(r=>{
                    this.tableData=r.data;
                    this.total=this.tableData.length;
                });
            },
            onSizeChange(val) {
                this.pageSize =val;
            },
            onCurrentChange(val) {
                this.currentPage = val;
            }
        }
    }
</script>
<style scoped>
    .pager {text-align: right; padding:20px;}
</style>