<template>
    <div>
        <el-table
                stripe
                :data="tableData"
                style="width: 100%; ">
            <el-table-column
                    prop="id"
                    label="ID"
                    width="80"
            ></el-table-column>
            <el-table-column
                    prop="date"
                    label="日期"
                    width="180"
            ></el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="180"
            ></el-table-column>
            <el-table-column
                    prop="address"
                    label="地址"
            ></el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                class="pager"
                background
                layout="total,sizes,prev, pager, next,jumper"
                :page-size="pageSize"
                :total="total"
                :current-page="currentPage"
                :page-sizes="[20,100, 200, 500]"
                @current-change="onCurrentChange"
                @size-change="onSizeChange"
        >
        </el-pagination>

        <el-dialog title="编辑" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="日期" label-width="120px">
                    <el-date-picker
                            v-model="form.date"
                            type="date"
                            placeholder="选择日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="姓名" label-width="120px">
                    <el-input v-model="form.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="地址" label-width="120px">
                    <el-input v-model="form.address" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
            </div>
        </el-dialog>

    </div>
</template>

<script>
    export default {
        name:"TableTest",
        data() {
            return {
                pageSize:20,
                total:0,
                currentPage:1,
                tableData: [],

                dialogFormVisible:false,
                form: {
                    date:'',
                    name:'',
                    address:''
                }
            }
        },
        mounted(){
            this.fetchData(this.currentPage, this.pageSize);
        },
        methods:{
            onCurrentChange(val) {
                this.currentPage = val;
                this.fetchData(val, this.pageSize);
            },
            onSizeChange(val) {
                this.pageSize =val;
                this.fetchData(this.currentPage, val);
            },
            fetchData(page,size){
                this.$axios.get('/table2',{
                    params:{page:this.currentPage, size:this.pageSize}
                }).then(r=>{
                    console.log('fetchData...page='+this.currentPage+"&size="+this.pageSize);
                    this.tableData=r.data.data;
                    this.total=r.data.total;
                });
            },
            handleEdit(i,row){
                this.form=row;
                this.dialogFormVisible=true;
            },
            handleDelete(i,row){
                this.$confirm('是否删除?', '警告', {
                    confirmButtonText: '删除',
                    cancelButtonText: '不了',
                    type: 'warning'
                }).then(()=>{
                    console.log('点击了删除');
                    this.$axios.post('/table2/del?id='+row.id).then(r=>{
                        this.fetchData(this.currentPage, this.pageSize);
                    });
                }).catch(() => {
                    console.log('不删了');
                });
            }
        }
    }
</script>
<style scoped>
    .pager {text-align: right; padding:20px;}
</style>