ul.ztree {
    margin: 0 0 0 20px;
    padding: 6px 6px 6px 7px;
    border: 0px solid #617775;
    width: 320px;
    height: 700px;
    overflow-y: auto;
    overflow-x: auto;
}
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
.container-fluid ul li {
    font-size: 12px;
    padding: 1px 0;
}
.ztree li span.button.chk {
    cursor: pointer;
    height: 13px;
    margin: 0 3px 0 0;
    width: 13px;
}