/*-------------------------------------
zTree Icons Skin
-------------------------------------*/

.ztree li span.button.diy1_ico_open{margin-right:2px; background:url(./img/diy/1_open.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy1_ico_close{margin-right:2px; background:url(./img/diy/1_close.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy1_ico_docu{margin-right:2px; background:url(./img/diy/1_close.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy2_ico_open{margin-right:2px; background:url(./img/diy/2.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy2_ico_close{margin-right:2px; background:url(./img/diy/2.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy2_ico_docu{margin-right:2px; background:url(./img/diy/2.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy3_ico_docu{margin-right:2px; background:url(./img/diy/3.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy4_ico_docu{margin-right:2px; background:url(./img/diy/4.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy5_ico_docu{margin-right:2px; background:url(./img/diy/5.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy6_ico_docu{margin-right:2px; background:url(./img/diy/6.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy7_ico_docu{margin-right:2px; background:url(./img/diy/7.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy8_ico_docu{margin-right:2px; background:url(./img/diy/8.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy9_ico_docu{margin-right:2px; background:url(./img/diy/9.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.diy10_ico_docu{margin-right:2px; background:url(./img/diy/10.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

.ztree li span.button.sysorganization_ico_open{margin-right:2px; background:url(./img/diy/sysorganization.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.sysorganization_ico_close{margin-right:2px; background:url(./img/diy/sysorganization.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.sysorganization_ico_docu{margin-right:2px; background:url(./img/diy/sysorganization.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

.ztree li span.button.sysuser_ico_open{margin-right:2px; background:url(./img/diy/sysuser.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.sysuser_ico_close{margin-right:2px; background:url(./img/diy/sysuser.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.sysuser_ico_docu{margin-right:2px; background:url(./img/diy/sysuser.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

.ztree li span.button.sysresource_ico_open{margin-right:2px; background:url(./img/diy/sysresource.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.sysresource_ico_close{margin-right:2px; background:url(./img/diy/sysresource.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.sysresource_ico_docu{margin-right:2px; background:url(./img/diy/sysresource.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

.ztree li span.button.sysrole_ico_open{margin-right:2px; background:url(./img/diy/sysrole.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.sysrole_ico_close{margin-right:2px; background:url(./img/diy/sysrole.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.sysrole_ico_docu{margin-right:2px; background:url(./img/diy/sysrole.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
