##################################
## 数据字典-数据类别管理修改页面
##author：dongjian
##################################
#set($layout = "layout/null.vm")

<!-- 数据字典-数据类别管理修改JS -->
<script type="text/javascript" src="#springUrl('/js/dict/dicttype_update.js')"></script>
<style>
    .mustInput{
        color: red;
        vertical-align: middle;
    }
</style>
<form id="dictTypeForm" method="POST" action="" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="control-group" style="height: 40">
            <label class="control-label" for="dictTypeName"><span class="mustInput">*</span>类别名称:</label>
            <div class="controls">
                <input type="text" id="dictTypeName" name="dictTypeName" value="$!{dictType.dictTypeName}" required data-rule="required;length[~32]">
                <input type="hidden" id="id" name="id" value="$!{dictType.id}">
                <input type="hidden" id="dictTypeNameOld" value="$!{dictType.dictTypeName}"/>
                <span id="isRepeatDictTypeName"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="dictTypeCode"><span class="mustInput">*</span>类别编码:</label>
            <div class="controls">
                <input type="text" id="dictTypeCode" name="dictTypeCode" value="$!{dictType.dictTypeCode}" readonly="true">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="parentName">父类别:</label>
            <div class="controls">
                <select disabled name="parentName" id="parentName">
                    #if($!{dictType.parentId} == '')
                        <option  value="$!{dictType.parentId}" selected>数据字典类别</option>
                    #else
                        <option  value="$!{dictType.parentId}" selected>$!{dictType.parentName}</option>
                    #end
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">类别描述:</label>
            <div class="controls">
                <textarea id="description" name="description" class="span8" rows="5" data-rule="length[~50]" >$!{dictType.description}</textarea>
            </div>
        </div>
        <div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="button" id="updateDictType">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success" type="button" id="cancelDictType">取消</button>
                </div>
            </div>
        </div>
    </div>
</form>
