<template>
    <div>
        <el-container>
                <el-aside width="200px">
                    <the-left></the-left>
                </el-aside>
            <el-container>
                <el-header style="padding:0;">
                    <the-header></the-header>
                </el-header>
                <el-main>
                    <router-view></router-view>
                </el-main>
                <the-footer></the-footer>
            </el-container>
        </el-container>
    </div>
</template>

<script>
    import TheHeader from "./TheHeader";
    import TheLeft from "./TheLeft";
    import TheFooter from "./TheFooter";
    export default {
        name: "Home",
        components: {TheFooter, TheLeft, TheHeader}
    }
</script>

<style scoped>
</style>