<template>
    <div style="box-shadow: 0 1px 4px rgba(0,21,41,.08); margin: 0; min-height:60px;" >
        <ul>
            <li>
                <i class="el-icon-s-fold" style="font-size:1.5em;"></i>
            </li>
            <li style="float:right;cursor:pointer;" @click="logout">
                <i class="el-icon-delete">退出</i>
            </li>
            <li style="float:right;">
                AAAA
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "TheHeader",
        methods:{
            logout(){
                this.$router.push('/login');
            }
        }
    }
</script>

<style scoped>
    ul{
        list-style-type: none;
        padding:0;
        margin:0;
        vertical-align: center;
    }
    li{
        padding:5px 0; display: inline-block; width:60px; height: 100%;vertical-align: center;
    }
</style>