<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
 <description>自定义jsp函数</description>
 <tlib-version>1.0</tlib-version>
 <short-name>Util</short-name>
 <uri>http://zb.jd.com/customfunc</uri>
 <function>
  <description>过滤XSS显示</description>
  <name>escapeHtml3</name>
  <function-class>org.apache.commons.lang3.StringEscapeUtils</function-class>
  <function-signature>java.lang.String escapeHtml3(java.lang.String)</function-signature>
 </function>
</taglib>
