@CHARSET "UTF-8";
body{ width:1024px; padding:0px; margin:0 auto; font-size:12px; color:#555; font-family: "微软雅黑";}
.bottom{
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: auto;
	background-image: url(../img/bottom.png);
	background-repeat: repeat-x;
}
.header {padding: 30px 48px 32px 48px; background-color: #EEEEEE;}
.marquee {
	font-size: 14px;
	color: #000;
	padding: 0px 120px 0px 120px;
}
.data {
    position:relative;
	padding: 0px 10px 10px 10px;
	text-align: left;
	width: 350px;
	left:-188px;
	top: 30px;
}
.data-1 {
    position:relative;
	padding: 0px 10px 10px 10px;
	text-align: left;
	width: 450px;
	left:188px;
	top: -144px;
}

.STYLE3 {font-size: 13px; color: #F00;}
.STYLE8 {
	font-size: 14px;
	color: #000;
	background-color: #eee;
}
.STYLE14 {color: #FF0000; font-size: 25px; font-style: italic; font-weight: bold;}
.STYLE24 {font-size: 16px; font-weight: bold;}
.STYLE25 {font-size: 21px; font-weight: bold;}
.STYLE26 {color: #FF0000}
#bj{
	padding-right:80px;
	padding-top: 15px;
}
#dl{
	background-image: url(../img/zhxx.png);
	background-repeat: no-repeat;
	background-position:center;
	padding: 8px 78px 8px 78px;
	margin: 15px 0px 0px 0px;
}
#gz{
	padding: 5px 20px 15px 20px;
}
#zygn—left{
	width:168px;
	position:relative;
	left:0px;
	top: 0px;
	height: auto;
	padding: 5px 0px 0px 88px;
}
#zygn—center{
	width:168px;
	position:relative;
	left:0px;
	top: 0px;
	height: auto;
	padding: 5px 0px 0px 88px;
}
#zygn—right{
	width:332px;
	position:relative;
	left:0px;
	top: 0px;
	height: auto;
	padding: 5px 0px 0px 88px;
}
.mesWindow{border:#666 1px solid;background:#fff; width:400px; position:absolute; top:300px; text-align:center;}
.mesWindowTop{border-bottom:#999 2px solid;padding:3px 3px 3px 12px;font-weight:bold;text-align:left;font-size:16px;height:32px; background-color:#ddd;}
.mesWindowContent{margin:4px;font-size:13px;padding:20px 35px 20px 35px;text-align:left}
.mesWindow .close{ text-align:center;font-size:15px; font-weight:bold;color:#666;height:20px;width:21px;background:#eee; border:0px; margin-right:3px; padding:2px 1px 1px 1px}
.verify {
    position:absolute;
    left:138px;
    top:240px;
    text-align: center;
	border:0px;
	background-image:url(../img/Ltd-button-bh.png);
	width:73px;
	height:35px;
	background-color:#FFFFFF;
	background-position:center;
	font-size: 14px;   
}
.verify:hover {border:0px;background-image:url(../img/Ltd-button-bule.png);width:73px;height:35px;background-position:center;color:#fff;font-size: 14px;}
.submit {
    position:absolute;
    left:138px;
    top:200px;
    text-align: center;
	border:0px;
	background-image:url(img/Ltd-button-bh.png);
	width:73px;
	height:35px;
	background-color:#FFFFFF;
	background-position:center;
	font-size: 14px;   
}
.submit:hover {border:0px;background-image:url(../img/Ltd-button-bule.png);width:73px;height:35px;background-position:center;color:#fff;font-size: 14px;}
a:link, a:visited , a:active{
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
.inputright{
	width: 160px;
}
input{
	line-height: 25px;
	padding-left:5px;
}
input[readonly]{
	background-color: #DCDCE2;
}
.conversion{
margin-left: 20px;
}
#phoneNo-confirm, ui-dialog{
background-color: #FFFFFF;
}
#errorphoneNo{
margin: 0 auto;
}