body{font-size:14px; color:#666;}
#div{width:320px; border:1px solid #c8c8c8;;}
#head{height:100px;}
#head_img{ width:80px; float:left;}
#head_img img{ width:60px; height:80px; border:0px; margin:10px;}
#head_xiangxi{ width:180px; float:left;}
.name{height:30px; line-height:30px; font-size:16px; font-weight:bold; margin-top:10px;}
.zuozhe{height:20px; line-height:20px; font-size:14px;}
.size{height:20px; line-height:20px; font-size:14px;}
#down{width:60px; float:left; height:100px;}
#down img{ width:40px; height:40px; margin:30px 10px 30px 10px;}
.clear{width:0px; height:0px; clear:both;}
#jianjie{ height:200px;}
#jianjie_biao{ height:30px; line-height:30px; font-size:16px; font-weight:bold; margin-left:10px; }
#jianjie_nei{ height:170px;  margin-left:10px; margin-right:10px;}
.fenge{height:20px;}
#mulu{margin:0px;}
#mulu_biao{ height:30px; line-height:30px; font-size:16px; font-weight:bold; margin-left:10px; }
#mulu_nei{ height:auto; margin:0px;}
.zhangjie{width:160px; float:left;}
.zhang{width:150px; text-align:left; margin-left:10px; height:20px; line-height:20px; font-weight:bold;}
.ming{width:150px; text-align:left; margin-left:10px; height:20px; line-height:20px;}