body{margin:0px; padding:0px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
img{border:0px;}
table{border-collapse:collapse; font-size:12px; border-color:#ccc;}

a:link{color:#000; text-decoration:none;}
a:visited{color:#000; text-decoration:none;}
a:hover{color:#000; text-decoration:none;}
.clear{clear:both;}

#containner{width:320px; border:1px solid #666; margin:0px auto;}
#head{height:70px; margin-top:10px; margin-bottom:10px;}
.logo{width:100px; height:40px; margin-left:8px; float:left; margin-bottom:6px; }
.logo img{height:35px;}
.ss_sss{width:70px; height:22px;margin:6px 10px 6px 0px;  position:relative; left:-50px;}
.ss{width:250px; height:22px; margin:6px 10px 6px 0px; float:right; border:1px solid #6b97b2; position:relative; left:30px;}
.ss_text{height:22px;  background:none; line-height:30px;width:200px; border:none; padding:0; margin:0;}
.ss_ss{position:absolute; top:0px; right:0px; }
.ss_btn{height:22px; width:30px; background:url(../img/search.png); border:none; cursor:pointer;}
.nav{height:40px;  background:url(../img/nav.png) repeat-x;  font-weight:bold; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.nav ul{list-style:none; margin-top:0px; margin-left:-30px;}
.nav li{float:left; width:120px; margin:0 5px;  height:40px; line-height:40px; text-align:center; overflow:hidden;}
.nav li a{display:block;}
.nav li a:link{color:#000; text-decoration:none;}
.nav li a:visited{color:#000; text-decoration:none;}
.nav li a:hover{color:#000; text-decoration:none; background:url(../img/nav-sel.png) repeat-x;  }
.nav .nav_li_hover{color:#000; background:#d5ebff; border:1px solid #ccc; }
.nav .nav_li_hover a:link{color:#000;}
.nav .nav_li_hover a:visited{color:#000;}
.xuanzhong{background:url(../img/nav-sel.png) repeat-x;}


#main{margin-top:5px;}
.title{height:30px; line-height:30px; padding-left:10px; background:#eee; border-top:1px solid #ccc; border-bottom:1px solid #ccc; font-weight:bold;}
.tui{background:#fff; position:relative;}
.tui_nei{margin:10px 10px; }
.tui_kid{width:90px; height:105px; float:left; text-align:center; margin:0 5px;}
.tui_kid_icon{height:60px; text-align:center;}
.tui_kid_icon img{height:50px; width:50px; margin:5px;}
.tui_kid_name{height:20px; text-align:center; line-height:20px; overflow:hidden;}
.tui_kid_star{height:20px; text-align:center;}
.tui_kid_star img{height:10px; width:10px;}


.tui2{}
.tui2_nei{}
.tui2_kid{ height:70px;  width:155px; float:left;}
.tui2_kid_icon{height:50px; width:50px; margin:10px 5px;}
.tui2_kid_icon img{width:50px; height:50px;}
.tui2_kid_name{height:20px; line-height:20px; overflow:hidden; margin-top:15px;}
.tui2_kid_star{height:20px; margin-bottom:15px;}
.tui2_kid_star img{height:10px; width:10px;}
.prev{height:40px; width:30px; position:absolute; left:3px; top:50%; margin-top:-20px;}
.next{height:40px; width:30px; position:absolute; right:3px; top:50%; margin-top:-20px;}






.info_icon{width:60px; height:60px; margin:10px; position:relative;}
.info_icon img{width:50px; height:50px; margin:5px;}
.paihang_count{height:25px; width:25px; background:url(../img/pai.png) no-repeat; color:#fff; line-height:20px; text-align:center; font-weight:bold; position:absolute; top:-10px; left:-5px;}
.info_name{height:24px; line-height:24px; font-weight:bold; overflow:hidden; margin-top:10px;}
.info_time{height:18px; line-height:18px; overflow:hidden; margin-bottom:10px;}
.info_size{height:18px; line-height:18px; overflow:hidden; }
.info_down{height:24px; margin-top:10px; padding-right:10px; text-align:right;  }

.info_btn_down{height:20px; width:80px; background:#287828 ; font-size:12px; padding:3px; border:1px solid #ccc; line-height:20px; color:#fff;}
.info_down a{color:#fff;}
.info_star{height:20px; padding-right:10px; text-align:right;}
.info_star img{height:12px; width:12px;}

.info_img{height:260px; padding:10px; text-align:center; background:url(../img/tui-bg.png) repeat-y;}
.info_img img{height:260px; width:190px; margin:0px auto;}
.info_file{line-height:25px; padding-left:8px; padding-right:8px;}

.info_ping{}
.info_ping_kid{border-bottom:1px solid #ccc; margin:0px 5px;}
.info_ping_kid_name{height:25px; line-height:25px; overflow:hidden; padding:0px 5px;}
.info_ping_kid_lun{line-height:20px; padding:0px 5px;}
.info_a{height:50px; margin:10px;}
.info_area{height:50px; width:300px; border:1px solid #ccc;}
.info_fabiao{height:20px; padding-right:10px; text-align:right;margin-bottom:20px;}
.info_btn_fabiao{height:20px; width:80px; background:#d7d7d7; color:#00F; border:1px solid #ccc; line-height:20px; }

.info_tui{}
.info_tui_nei{margin:10px 25px;}
.info_tui_kid{width:90px; height:105px; float:left; text-align:center;}
.info_tui_kid_icon{height:60px; text-align:center;}
.info_tui_kid_icon img{height:50px; width:50px; margin:5px;}
.info_tui_kid_name{height:20px; text-align:center; line-height:20px; overflow:hidden;}
.info_tui_kid_star{height:20px; text-align:center;}
.info_tui_kid_star img{height:10px; width:10px;}


.paihang{}
.paihang_nei{margin-top:10px;}
.paihang_kid{height:80px; margin-bottom:5px; border-bottom:1px solid #ccc; position:relative;}


.fenlei{}

.fenlei_kid{height:40px; line-height:40px; padding-left:30px; background:url(../img/lei.png) no-repeat left; position:relative; border-bottom:1px solid #ccc;}
.fenlei_fen{height:40px; line-height:40px; top:0px; right:15px; position:absolute; font-size:16px; font-weight:bold;}



.fo{height:40px; background:url(../img/fo.png) repeat-x;}






.page{height:22px; line-height:22px; text-align:center; margin-bottom:10px;}
.page_btn{height:22px; width:40px; line-height:20px; background:url(../img/page-btn.png) no-repeat; border:none;}
.page_next{height:22px; width:70px; line-height:20px; background:url(../img/page-next.png) no-repeat; border:none; color:#fff; margin-left:10px;}
.page_prev{height:22px; width:70px; line-height:20px; background:url(../img/page-prev.png) no-repeat; border:none; color:#fff; margin-right:10px;}



.page-left{width:30px; height:40px; border:0px; background:url(../img/prev.png) no-repeat; line-height:38px;}
.page-right{width:30px; height:40px; border:0px; background:url(../img/next.png) no-repeat; line-height:38px;}



