body{margin:10px;}
#div{ width:240px; height:360px; overflow:hidden; border:1px solid #61bdd6;}
#head{ width:235px; height:35px; line-height:35px; background:url(../img/bg.jpg) repeat-x; color:#0000FF; padding-left:5px; border-bottom:1px solid #61bdd6;}
#body{ width:240px; height:220px; }
#leg{ width:240px; height:85px;    }
.tab{ width:235px; height:35px; line-height:35px; background:url(../img/bg.jpg) repeat-x; color:#0000FF; padding-left:5px; border-bottom:1px solid #61bdd6;  }
ul#menu{list-style-type:none; color:#3728a5; width:240px; height:50px; padding:0px; }
ul#menu li{ margin-left:10px;  float:left;  font:bold 14px verdana, arial;}
ul#menu li a:link,a:visited{ display:block;text-decoration:none; color:#3728a5;}
ul#menu li a:hover{ border:1px solid #61bdd6;}
.kid{ height:32px; line-height:35px; border-bottom:1px dashed #61bdd6; padding-left:8px; padding-top:2px; font:bold 14px #000; }
.kid img{ width:30px; height:30px; float:left;}
.xiazai{ width:40px; height:20px; line-height:20px; color:#0000ff;  text-align:center; float:right; margin-top:7px; margin-right:10px;}
.button{ color:#0000FF; background:none; border:1px solid #61bdd6; float:none; margin-right:10px;}
.button2{ color:#0000FF; background:none; border:1px solid #61bdd6; float:right; margin-top:20px; margin-right:10px;}
/*.kid a:link,a:visited{ text-decoration:none; color:#000000; border:none;}
.kid a:hover{  background:#33ccff;}*/
.kid:hover{ background:#66CCFF;}
#footer{font:bold 14px verdana, arial; color: #0000FF; padding-left:10px; padding-top:10px; height:85px;}
.lei{ font-size:12px; height:50px; width:240px; }
.lei img{ float:left; width:50px; height:50px;}
.tui{ padding-left:10px; height:30px; width:230px; font-size:12px; color:#0000FF;}
.tui img{width:30px; height:30px; margin-right:10px;}