@charset "utf-8";
/* CSS Document */

.bbbody{ margin-left:0px; margin-top:0px;}

.tstab{  width:320px; height:190px; border:0px; background-image:url(../../img_woshop/T-box.png); background-repeat:no-repeat;}

.div1{ width:200px; height:auto; border:solid 1px #CCCCCC; padding:0px; margin:0px; }

.div2{width:198px; height:275px; padding-left:2px; background-color:rgb(241,241,241); border:solid 1px rgb(188,188,188);  position:fixed; bottom:0px;}

.tab1{ width:202px; border:0px; font-size:13px; font-family:"宋体"; padding-bottom:0px; padding-top:0px; padding-left:0px;}

.tabdao{width:780px; height:34px; border:0px; float:left;}

.tabdao1{width:40px; height:34px; border:0px; float:left; background-image:url(../../img_woshop/bj2.jpg);}

.tr2{padding-top:5px; padding-bottom:5px;}

.img{ width:45px; height:45px; }

.img2{ width:190px; height:260px; padding-bottom:7px; padding-left:2px; padding-right:5px; padding-top:13px;}

.img3{ width:20px; height:20px;}

.td1{background-color:rgb(241,241,241); height:27px; padding-top:4px; }

.tdyy{ height:33px; border-bottom-color:rgb(216,216,216); border-bottom-style:solid; border-bottom-width:1px;  padding-top:8px; 
       background-image:url(../../img_woshop/bj4.jpg); text-align:right;}

.tdyy1{ height:33px; border-bottom-color:rgb(216,216,216); border-bottom-style:solid; border-bottom-width:1px;  padding-top:11px; 
       background-image:url(../../img_woshop/bj4.jpg); font-size:14px; font-family:"宋体";}

.tdyy2{height:33px; border-bottom-color:rgb(216,216,216); border-bottom-style:solid; border-bottom-width:1px;  padding-top:8px; 
       background-image:url(../../img_woshop/bj4.jpg); text-align:left;}
	   
.tdyy3{height:33px; border-bottom-color:rgb(216,216,216); border-bottom-style:solid; border-bottom-width:1px;  padding-top:13px; 
       background-image:url(../../img_woshop/bj4.jpg); font-size:14px; font-family:"宋体";}

.divname{padding-bottom:5px; padding-top:5px;}

.down{ height:34px; padding-top:3px; color:rgb(50,50,50);}

.ttab{ width:510px; height:390px; border:0px; padding:0px;}

.quanxuan{ font-family:"宋体"; font-size:13px; font-weight:bold; color:rgb(180,3,0)  }

.xing{padding:0px; margin:0px;}

.trs{ font-family:"宋体"; font-size:13px;}

.font1{ font-size:13px;}

.tsbt{font-family:"宋体"; font-size:14px;}
.tsbt3{ height:27px; color:#FFFFFF; padding-top:10px; font-weight:bold;}
.tsbt1{ height:35px; padding-top:16px;}
.tsbt2{ height:20px;}


/** 应用样式 **/
.leftdiv{ width:204px; height:768px; border:solid 1px rgb(188,188,188); padding:0px; margin:0px;background-image:url(../../img_woshop/dbj.jpg); }
.tdyy{ height:33px; width:49px; border-bottom-color:rgb(216,216,216); border-bottom-style:solid; border-bottom-width:1px;  padding-top:8px; 
       background-image:url(../../img_woshop/bj4.jpg); text-align:right;}

.tdyy1{ height:33px; width:117px; border-bottom-color:rgb(216,216,216); border-bottom-style:solid; border-bottom-width:1px;  padding-top:11px; 
       background-image:url(../../img_woshop/bj4.jpg); font-size:14px; font-family:"宋体"; text-align:left;}

.tdyy3{height:33px; width:117px;  border-bottom-color:rgb(216,216,216); border-bottom-style:solid; border-bottom-width:1px;  padding-top:9px; 
       background-image:url(../../img_woshop/bj4.jpg); font-size:14px; font-family:"宋体";}
.tdls{font-family:"宋体"; font-size:13px; height:25px; padding-top:5px; padding-bottom:3px;}
.tdlb3{padding-left:15px; text-align:left;}
.tdlb{  padding-left:20px; }

.tdlb2{text-align:right;}

/** 排行页面样式 **/
.righttab{ width:150px; border:solid 1px rgb(217,217,217);}

.tdph{ height:27px; background-image:url(../../img_woshop/phbj.jpg); font-family:"宋体"; font-size:14px; font-weight:bold; padding-top:6px; padding-bottom:3px; padding-left:12px;}

.tdkk{ padding-left:10px; padding-top:8px; padding-bottom:8px; width:48px;}

.tdimg{ padding-top:1px; padding-bottom:5px; padding-left:3px;}

.tdrgh{font-family:"宋体"; font-size:13px; padding-left:4px; padding-bottom:4px;}

.tdan{padding-left:4px;}


/* 标签样式 */
.tpc{ width:84px; position:relative; color:#FFFFFF; margin-right:4px; margin-top:3px;}
.tpc2{ width:48px; position:relative; color:#FFFFFF; margin-right:4px; margin-top:3px;}
.tpc .tj {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/tj.png) 0 0 no-repeat;
	position:absolute;
	top:7px;
	left:15px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .rm {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/rm.png) 0 0 no-repeat;
	position:absolute;
	top:7px;
	left:15px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .jl {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/jl.png) 0 0 no-repeat;
	position:absolute;
	top:7px;
	left:15px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
	
	
.tpc2 .tj2 {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/tj.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:15px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc2 .rm2 {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/rm.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:0px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc2 .jl2 {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/jl.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:15px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}

