@charset "utf-8";
/* CSS Document */


.nav ul li{ list-style-type:none;  float:left;}

.nav {
	width:510px;
	height:390px;
	position:absolute;
	top: 71px;
	left: 80px;
}

.jj{ padding-right:5px;font-size:13px; padding-bottom:28px; width: 80px;}

.div11{
	position:absolute;
	left: 23px;
	top: 51px;
}

.div22{
	position:absolute;
	width:28px;
	left: 573px;
	top: 51px;
}
.div33{
	position:absolute;
	left: 40px;
	top: 448px;
	width: 542px;
	background-image:url(../../img_woshop/33.jpg);
	height:12px;
	
}
.div44{
	position:absolute;
	left: 130px;
	top: 47px;
	font-family:"宋体";
	font-size:13px;
	width: 452px;
	
}

.div55{
	width:60px;
	position:absolute;
	font-size:13px;
	font-family:"宋体";
	left: 78px;
	top: 45px;
}
