body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
.md .bd{
	padding-top: 20px;
	padding-right:10px;
	padding-bottom: 0px;
	padding-left: 10px;}
.plist-1 li{width:100px;height:156px;float:left;margin-right:0px;text-align:center}
.pslide .prev{
	width:18px;
	height:33px;
	float:left;
	margin-top:12px;
	background-image: url(../../img_woshop/a25a.png);
	background-repeat: no-repeat;}
.pslide .next{
	width:18px;
	height:33px;
	float:left;
	margin-top:-88px;
	background-image: url(../../img_woshop/a25a.png);
	background-repeat: no-repeat;}
.pslide .prev{background-position:0 0px;float:left;margin-right:0px;}
.pslide .prev:hover{background-position:0 -96px;}
.pslide .next{background-position:0 -32px;float:right;margin-left:0px;}
.pslide .next:hover{background-position:0 -64px;}
.pslide .pcont{
	width:95%;
	height:100px;
	float:none;
	overflow:hidden;
	position:relative;
}
.pslide .pcont ul{width:9999px;position:absolute;left:0;top:0}
