﻿img{border:0;}

/*download button status*/
.tpc{ height:80px; background:url() 0 0 no-repeat ; position:relative; color:#FFFFFF; margin-right:4px; margin-top:3px;}
*html .tpc{ position:relative; background-color: ; width:108px;}
*html .tpc-ph{ position:relative; background-color: ; width:0px;}
.tpc .score{
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/-009.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:27px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .gxk{
	display:block;
	width:24px;
	height:10px;
	position:absolute;
	top:-3px;
	left:8px;
	line-height:24px;
	text-indent:-10px;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .tj {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/tj.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:28px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .rm {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/rm.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:28px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .jl {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/jl.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:28px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
	
.tpc .tj2 {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/tj.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:23px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .rm2 {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/rm.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:23px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}
.tpc .jl2 {
	display:block;
	width:33px;
	height:23px;
	background:url(../../img_woshop/jl.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:23px;
	line-height:24px;
	text-indent:0px;
	font-size:12px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;}

.tpc-ph .list-r {
	display:block;
	width:28px;
	height:28px;
	position:absolute;
	top:-15px;
	left:0px;
	line-height:28px;
	text-indent:0px;
	font-size:18px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;
	background-image: url(../../img_woshop/list_r.png);
}
.tpc-ph .list-h {
	display:block;
	width:28px;
	height:28px;
	position:absolute;
	top:-15px;
	left:0px;
	line-height:28px;
	text-indent:0px;
	font-size:18px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;
	background-image: url(../../img_woshop/list_h.png);
}
.tpc-ph .list-l {
	display:block;
	width:28px;
	height:28px;
	position:absolute;
	top:-15px;
	left:0px;
	line-height:28px;
	text-indent:0px;
	font-size:18px;
	font-weight:bolder;
	color:#fff;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;
	background-image: url(../../img_woshop/list_l.png);
}
.tpc-ph .list-q {
	display:block;
	width:28px;
	height:28px;
	background:url() 0 0 no-repeat;
	position:absolute;
	top:-15px;
	left:0px;
	line-height:28px;
	text-indent:0px;
	font-size:18px;
	font-weight:bolder;
	color:#666;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;
	background-image: url();
}
.tpc dl{ padding:41px 0 0 17px; height:80px; overflow:hidden;}
.tpc dt{ float:left; padding-top:3px; width:90px;}
.tpc dt img{ width:50px; height:50px;}
.tpc dd { float:left; width:120px;}
